org.talend.mdm.core/test/com/amalto/core/save/metadata16_1.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>
<xsd:complexType abstract="false" name="EOR">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="UG_EOR">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Unité de gestion</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Unit Code</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8"/>
<xsd:pattern value="[0-9]+"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="TYP_EOR" type="xsd:int">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Type de l'entité</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Entity type</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="L_TYP_EOR" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Libellé type EOR</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Label EOR type</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="CAT_TYP_EOR" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Catégorie type EOR</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Label EOR type</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="SIGLE_EOR">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Sigle de l'entité</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Entity sigle</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="L_EOR">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Libellé de l'entité</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Entity label</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="LR_EOR">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Libellé raccourci de l'entité</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Entity short label</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="SERIE_COD_UCA">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Référence administrative</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">AdministrativeReference</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="25"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="SERIE_COD_CPTA">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Référence compatibilité</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Compatibility reference</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="25"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="COMT_EOR">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Commentaire sur l’entité d’organisation</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Comment</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="256"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="TYP_RG" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Type RG de l'EOR</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey">REF_TYPRG/RG</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">RG type of the EOR</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="D_DEB_EOR" type="xsd:date">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Date début de validité</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Start date of validity</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="D_CRE_EOR" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Date de création</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Creation date</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="D_MOD_EOR" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Date de modification</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Modification date</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="D_FIN_EOR" type="xsd:date">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Date fin de validité</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">End of validity</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="UG_EOR_FILLES">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Entités filles</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Low level</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="UG_EOR_FILLE" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">EOR/UG_EOR</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">EOR/L_TYP_EOR</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey">EOR</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="UG_EOR_MERES">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Entités mères</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Sup entities</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="UG_EOR_MERE" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">EOR/UG_EOR</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">EOR/L_TYP_EOR</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey">EOR</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="GARES">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Gares attachées</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Attached station</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="GARE" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_Label_FR">Gare</xsd:appinfo>



<xsd:appinfo source="X_ForeignKey">GARE</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Station</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
<xsd:appinfo source="X_FKIntegrity">true</xsd:appinfo>
<xsd:appinfo source="X_FKIntegrity_Override">false</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">GARE/CAT_ETFE</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">GARE/PAYS_ISO</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">GARE/NOM_PRINC_ETFE</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="EOR" type="EOR">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Entité d’organisation</xsd:appinfo>
<xsd:appinfo source="X_Workflow">moaREF#EOR_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">consultation#EOR_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Entity of Organisation</xsd:appinfo>
<xsd:appinfo source="X_Schematron">&lt;pattern name="dateValidation" &gt;
&lt;rule context="."&gt;&lt;assert test="translate(D_FIN_EOR,&amp;quot; &amp;quot;,&amp;quot;&amp;quot;)=&amp;quot;&amp;quot; or number(translate(D_DEB_EOR,&amp;quot;-&amp;quot;,&amp;quot;&amp;quot;))&amp;lt;=number(translate(D_FIN_EOR,&amp;quot;-&amp;quot;,&amp;quot;&amp;quot;))"&gt;&lt;![CDATA[[FR:Date de fin de validité doit être vide ou supérieure à date de début]]]&gt;&lt;/assert&gt;&lt;/rule&gt;
&lt;/pattern&gt;
</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:unique name="EOR">
<xsd:selector xpath="."/>
<xsd:field xpath="UG_EOR"/>
<xsd:field xpath="TYP_EOR"/>
<xsd:field xpath="D_DEB_EOR"/>
</xsd:unique>
</xsd:element>
<xsd:element name="EORCDC">
<xsd:annotation>
<xsd:appinfo source="X_Schematron">&lt;pattern name="DateFinSUPEGALEDateDEB" &gt;
&lt;rule context="."&gt;&lt;assert test="translate(D_FIN_EOR,&amp;quot; &amp;quot;,&amp;quot;&amp;quot;)=&amp;quot;&amp;quot; or number(translate(D_DEB_EOR,&amp;quot;-&amp;quot;,&amp;quot;&amp;quot;))&amp;lt;=number(translate(D_FIN_EOR,&amp;quot;-&amp;quot;,&amp;quot;&amp;quot;))"&gt;&lt;![CDATA[[FR:Date de fin de validité doit être vide ou supérieure à date de début]]]&gt;&lt;/assert&gt;&lt;/rule&gt;
&lt;/pattern&gt;
</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:all>
<xsd:element maxOccurs="1" minOccurs="1" name="ID_AUTO" type="AUTO_INCREMENT">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="TALEND_CDC_DATE" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="UG_EOR">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:pattern value="[0-9]+"/>
<xsd:maxLength value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="TYP_EOR">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:pattern value="[0-9]{1,3}"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="L_TYP_EOR" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="CAT_TYP_EOR" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="SIGLE_EOR">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="L_EOR">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="LR_EOR">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="SERIE_CODE_UCA">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="25"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="SERIE_CODE_CPTA">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="25"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="COMT_EOR">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="256"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="TYPE_RG" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">REF_TYPRG/RG</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="D_DEB_EOR" type="xsd:date">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="D_CRE_EOR" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="D_MOD_EOR" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="TALEND_CDC_TYPE">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="I"/>
<xsd:enumeration value="U"/>
<xsd:enumeration value="D"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="D_FIN_EOR" type="xsd:date">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
<xsd:unique name="EORCDC">
<xsd:selector xpath="."/>
<xsd:field xpath="ID_AUTO"/>
</xsd:unique>
</xsd:element>
<xsd:complexType abstract="false" name="GARE">
<xsd:all>
<xsd:element maxOccurs="1" minOccurs="1" name="IFE">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Intervenant ferroviaire</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Railway worker</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="ETFE">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Etablissement ferroviaire</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Railway</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="CAT_ETFE">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Categorie ETFE</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Category ETFE</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="PAYS_ISO">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Pays Iso ETFE</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">ETFE Country</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="NOM_PRINC_ETFE">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Nom principal ETFE</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">ETFE principal name</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="35"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="UG_EOR" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">UG de l'EOR de rattachement</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">EOR/UG_EOR</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">EOR/TYP_EOR</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">EOR/CAT_TYP_EOR</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">EOR/L_EOR</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">EOR/LR_EOR</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">EOR/D_DEB_EOR</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">EOR/D_CRE_EOR</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">EOR/D_MOD_EOR</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">EOR/D_FIN_EOR</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey">EOR</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">UG of EOR</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="D_DEB_EOR_EFE" type="xsd:date">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Date de début de validité du lien</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Start date ofvalidity of the link</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="D_CRE_EOR_EFE" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Date de création du lien</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Creation date of the link</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="D_MOD_EOR_EFE" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Date de modification du lien</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Modification date of the link</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="D_FIN_EOR_EFE" type="xsd:date">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Date de fin de validité du lien</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">End date of validity of the link</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
<xsd:element name="GARE" type="GARE">
<xsd:annotation>
<xsd:appinfo source="X_Schematron">&lt;pattern name="ValidationDeDate" &gt;
&lt;rule context="."&gt;&lt;assert test="translate(D_FIN_EOR_EFE,&amp;quot; &amp;quot;,&amp;quot;&amp;quot;)=&amp;quot;&amp;quot; or number(translate(D_DEB_EOR_EFE,&amp;quot;-&amp;quot;,&amp;quot;&amp;quot;))&amp;lt;=number(translate(D_FIN_EOR_EFE,&amp;quot;-&amp;quot;,&amp;quot;&amp;quot;))"&gt;&lt;![CDATA[Date de fin doit être supérieur à la date de début de validité]]&gt;&lt;/assert&gt;&lt;/rule&gt;
&lt;/pattern&gt;
</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:unique name="GARE">
<xsd:selector xpath="."/>
<xsd:field xpath="IFE"/>
<xsd:field xpath="ETFE"/>
</xsd:unique>
</xsd:element>
<xsd:element name="GARECDC">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Gare</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Station</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:all>
<xsd:element maxOccurs="1" minOccurs="1" name="ID_AUTO" type="AUTO_INCREMENT">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="TALEND_CDC_DATE" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="IFE">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="ETFE">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="CAT_ETFE">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="PAYS_ISO">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="NOM_PRINC_ETFE">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="35"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="UG_EOR" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="D_DEB_EOR_EFE" type="xsd:date">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="D_CRE_EOR_EFE" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="D_MOD_EOR_EFE" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="D_FIN_EOR_EFE" type="xsd:date">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="TALEND_CDC_TYPE" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
<xsd:unique name="GARECDC">
<xsd:selector xpath="."/>
<xsd:field xpath="ID_AUTO"/>
</xsd:unique>
</xsd:element>
<xsd:complexType abstract="false" name="REF_TYPRG">
<xsd:all>
<xsd:element maxOccurs="1" minOccurs="1" name="RG" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="L_RG" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
<xsd:element name="REF_TYPRG" type="REF_TYPRG">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:unique name="REF_TYPRG">
<xsd:selector xpath="."/>
<xsd:field xpath="RG"/>
</xsd:unique>
</xsd:element>
<xsd:complexType abstract="false" name="result">
<xsd:all>
<xsd:element maxOccurs="1" minOccurs="1" name="MDM_Entity" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Entité</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Entity</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="Count" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Nombre d'occurences</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Number of recors</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
<xsd:element name="statEntities" type="result">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:unique name="statEntities">
<xsd:selector xpath="."/>
<xsd:field xpath="MDM_Entity"/>
</xsd:unique>
</xsd:element>
<xsd:simpleType name="AUTO_INCREMENT">
<xsd:restriction base="xsd:string"/>
</xsd:simpleType>
</xsd:schema>
