org.talend.mdm.core/test/com/amalto/core/metadata/compare/schema11_2.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>
    <xsd:element name="Entity">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="ID" type="AUTO_INCREMENT"/>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="Entity">
            <xsd:selector xpath="."/>
            <xsd:field xpath="ID"/>
        </xsd:unique>
    </xsd:element>
    <xsd:simpleType name="AUTO_INCREMENT">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
</xsd:schema>
