org.talend.mdm.core/test/com/amalto/core/metadata/compare/schema27_1.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.w3.org/2001/XMLSchema" />
    <xsd:complexType name="Boy">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string" />
            <xsd:element maxOccurs="1" minOccurs="1" name="grade" type="xsd:string" />
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Person" type="Boy">
        <xsd:unique name="uu">
            <xsd:selector xpath="." />
            <xsd:field xpath="grade" />
        </xsd:unique>
    </xsd:element>
</xsd:schema>