org.talend.mdm.core/test/com/amalto/core/metadata/compare/schema22_1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Object">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="Id" type="xsd:string" />
                <xsd:element maxOccurs="1" minOccurs="0" name="name" type="xsd:string" />
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="Object">
            <xsd:selector xpath="." />
            <xsd:field xpath="Id" />
        </xsd:unique>
    </xsd:element>
</xsd:schema>