org.talend.mdm.core/test/com/amalto/core/metadata/compare/schema13_1.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>
    <xsd:element name="Entity">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="ID" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="Entity">
            <xsd:selector xpath="."/>
            <xsd:field xpath="ID"/>
        </xsd:unique>
    </xsd:element>
</xsd:schema>
