org.talend.mdm.core/test/com/amalto/core/query/metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (C) 2006-2012 Talend Inc. - www.talend.com
  ~
  ~ This source code is available under agreement available at
  ~ %InstallDIR%\features\org.talend.rcp.branding.%PRODUCTNAME%\%PRODUCTNAME%license.txt
  ~
  ~ You should have received a copy of the agreement
  ~ along with this program; if not, write to Talend SA
  ~ 9 rue Pages 92150 Suresnes, France
  -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!-- PERSON DATA MODEL -->

    <xsd:element name="Person">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:integer"/>
                <xsd:element name="firstname" type="xsd:string"/>
                <xsd:element name="middlename" type="xsd:string"/>
                <xsd:element name="lastname" type="xsd:string"/>
                <xsd:element name="age" type="xsd:positiveInteger"/>
                <xsd:element name="score" type="xsd:decimal"/>
                <xsd:element minOccurs="0" name="Available" type="xsd:boolean"/>
                <xsd:element maxOccurs="unbounded" minOccurs="1" name="addresses">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" name="address" type="xsd:string">
                                <xsd:annotation>
                                    <xsd:appinfo source="X_ForeignKey">Address</xsd:appinfo>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Status" type="PersonStatus">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Hide">System_Users</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
        <xsd:unique name="Person">
            <xsd:selector xpath="."/>
            <xsd:field xpath="id"/>
        </xsd:unique>
    </xsd:element>

    <xsd:simpleType name="PersonStatus">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Customer"/>
            <xsd:enumeration value="Friend"/>
            <xsd:enumeration value="Employee"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="Address">
        <xsd:annotation>
            <xsd:appinfo source="X_Label_FR">Adresse</xsd:appinfo>
            <xsd:appinfo source="X_Label_EN">Address</xsd:appinfo>
            <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all maxOccurs="1" minOccurs="1">
                <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Id (s?quence)</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Id (sequence)</xsd:appinfo>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Street" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Rue</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Street</xsd:appinfo>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="ZipCode" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Code postal</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Zip code</xsd:appinfo>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="enterprise" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Code postal</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Zip code</xsd:appinfo>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="City" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Ville</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">City</xsd:appinfo>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="OptionalCity" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Ville optionelle</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Optional city</xsd:appinfo>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="country" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">Country/id</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="Address">
            <xsd:selector xpath="."/>
            <xsd:field xpath="Id"/>
            <xsd:field xpath="enterprise"/>
        </xsd:unique>
    </xsd:element>

    <xsd:element name="Country">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="id" type="xsd:integer"/>
                <xsd:element name="creationDate" type="xsd:date"/>
                <xsd:element name="creationTime" type="xsd:dateTime"/>
                <xsd:element name="name" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="Country">
            <xsd:selector xpath="."/>
            <xsd:field xpath="id"/>
        </xsd:unique>
    </xsd:element>

    <!-- TYPE TEST DATA MODEL (field type coverage) -->

    <xsd:element name="TypeA">
        <xsd:annotation>
            <xsd:appinfo source="X_Label_FR">Produit</xsd:appinfo>
            <xsd:appinfo source="X_Label_EN">Product</xsd:appinfo>
            <xsd:appinfo source="X_Lookup_Field">Product/Availability</xsd:appinfo>
            <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence maxOccurs="1" minOccurs="1">
                <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="string" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="boolean" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="float" type="xsd:float">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="double" type="xsd:double">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="decimal" type="xsd:decimal">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="duration" type="xsd:duration">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="dateTime" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="time" type="xsd:time">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="date" type="xsd:date">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="hexBinary" type="xsd:hexBinary">
                    <xsd:annotation>
                        <xsd:appinfo source="cX_Write">Demo_Manager</xsd:appinfo>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="base64Binary" type="xsd:base64Binary">
                    <xsd:annotation>
                        <xsd:appinfo source="cX_Write">Demo_Manager</xsd:appinfo>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="anyURI" type="xsd:anyURI">
                    <xsd:annotation>
                        <xsd:appinfo source="cX_Write">Demo_Manager</xsd:appinfo>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="qname" type="xsd:QName">
                    <xsd:annotation>
                        <xsd:appinfo source="cX_Write">Demo_Manager</xsd:appinfo>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="integer" type="xsd:integer">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="nonPositiveInteger" type="xsd:nonPositiveInteger">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="negativeInteger" type="xsd:negativeInteger">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="long" type="xsd:long">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="int" type="xsd:int">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="short" type="xsd:short">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="byte" type="xsd:byte">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="nonNegativeInteger" type="xsd:nonNegativeInteger">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="unsignedLong" type="xsd:unsignedLong">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="unsignedInt" type="xsd:unsignedInt">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="unsignedShort" type="xsd:unsignedShort">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="unsignedByte" type="xsd:unsignedByte">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="positiveInteger" type="xsd:positiveInteger">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
        <xsd:unique name="TypeA">
            <xsd:selector xpath="."/>
            <xsd:field xpath="Id"/>
        </xsd:unique>
    </xsd:element>

    <!-- PRODUCT DATA MODEL -->

    <xsd:element name="Product">
        <xsd:annotation>
            <xsd:appinfo source="X_Label_FR">Produit</xsd:appinfo>
            <xsd:appinfo source="X_Label_EN">Product</xsd:appinfo>
            <xsd:appinfo source="X_Lookup_Field">Product/Availability</xsd:appinfo>
            <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence maxOccurs="1" minOccurs="1">
                <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Id unique</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Unique Id</xsd:appinfo>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Nom</xsd:appinfo>

                        <xsd:appinfo source="cX_Write">Demo_Manager</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Name</xsd:appinfo>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="ShortDescription" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="LongDescription" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Description</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Description</xsd:appinfo>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Features">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Caract?ristiques</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Features</xsd:appinfo>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Sizes">
                                <xsd:annotation>
                                    <xsd:appinfo source="X_Description_FR">Un produit peut ?tre disponible dans
                                        plusieurs tailles.
                                    </xsd:appinfo>
                                    <xsd:appinfo source="X_Label_FR">Tailles</xsd:appinfo>
                                    <xsd:appinfo source="X_Description_EN">A product may be available in more than one
                                        size.
                                    </xsd:appinfo>
                                    <xsd:appinfo source="X_Label_EN">Sizes</xsd:appinfo>
                                    <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element maxOccurs="unbounded" name="Size" type="Size">
                                            <xsd:annotation>
                                                <xsd:appinfo source="X_Label_EN">Size</xsd:appinfo>
                                                <xsd:appinfo source="X_Label_FR">Taille</xsd:appinfo>
                                                <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                                                <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                                                <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
                                            </xsd:annotation>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Colors">
                                <xsd:annotation>
                                    <xsd:appinfo source="X_Description_FR">Un produit peut ?tre disponible dans
                                        plusieurs couleurs.
                                    </xsd:appinfo>
                                    <xsd:appinfo source="X_Label_FR">Couleurs</xsd:appinfo>
                                    <xsd:appinfo source="X_Description_EN">A product can be available in more than one
                                        color.
                                    </xsd:appinfo>
                                    <xsd:appinfo source="X_Label_EN">Colors</xsd:appinfo>
                                    <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element maxOccurs="unbounded" name="Color" type="xsd:string">
                                            <xsd:annotation>
                                                <xsd:appinfo source="X_Label_FR">Couleur</xsd:appinfo>
                                                <xsd:appinfo source="X_Label_EN">Color</xsd:appinfo>
                                                <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                                                <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                                            </xsd:annotation>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Availability" type="xsd:positiveInteger">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Disponibilit?</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Availability</xsd:appinfo>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Price" type="xsd:decimal">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Description_FR">Faites une demande de changement de prix pour modifier
                        </xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Prix</xsd:appinfo>
                        <xsd:appinfo source="X_Description_EN">Run a price request to change this price</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Price</xsd:appinfo>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Family" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Famille</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKeyInfo">ProductFamily/Name</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey">ProductFamily/Id</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Family</xsd:appinfo>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="Supplier" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">Supplier/Id</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKeyInfo">Supplier/SupplierName</xsd:appinfo>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CreationDate" type="xsd:date">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="RemovalDate" type="xsd:date">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Status" type="ProductStatus">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
        <xsd:unique name="Product">
            <xsd:selector xpath="."/>
            <xsd:field xpath="Id"/>
        </xsd:unique>
    </xsd:element>
    <xsd:simpleType name="URL">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="Size">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Small"/>
            <xsd:enumeration value="Medium"/>
            <xsd:enumeration value="Large"/>
            <xsd:enumeration value="X-Large"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PICTURE">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="Color">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="White"/>
            <xsd:enumeration value="Light Blue"/>
            <xsd:enumeration value="Light Pink"/>
            <xsd:enumeration value="Lemon"/>
            <xsd:enumeration value="Khaki"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="ProductFamily">
        <xsd:annotation>
            <xsd:appinfo source="X_Label_FR">Famille Produit</xsd:appinfo>
            <xsd:appinfo source="X_Label_EN">Product Family</xsd:appinfo>
            <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all maxOccurs="1" minOccurs="1">
                <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Id (s?quence)</xsd:appinfo>

                        <xsd:appinfo source="X_Label_EN">Id (sequence)</xsd:appinfo>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Nom</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Name</xsd:appinfo>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="ProductFamily">
            <xsd:selector xpath="."/>
            <xsd:field xpath="Id"/>
        </xsd:unique>
    </xsd:element>
    <xsd:simpleType name="Status">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Pending"/>
            <xsd:enumeration value="Rejected"/>
            <xsd:enumeration value="Approved"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="Supplier">
        <xsd:annotation>
            <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="SupplierName" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Address" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Adresse</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKeyInfo">Address/City</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey">Address</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Address</xsd:appinfo>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Contact">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="xsd:string">
                                <xsd:annotation>
                                    <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Phone" type="xsd:string">
                                <xsd:annotation>
                                    <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Email" type="xsd:string">
                                <xsd:annotation>
                                    <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:all>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="Supplier">
            <xsd:selector xpath="."/>
            <xsd:field xpath="Id"/>
        </xsd:unique>
    </xsd:element>
    <xsd:simpleType name="ProductStatus">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Created"/>
            <xsd:enumeration value="Removed"/>
            <xsd:enumeration value="Active"/>
            <xsd:enumeration value="Pending"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- LONG ENTITY TYPE NAME-->
    <xsd:element name="EntityWithQuiteALongNameWithoutIncludingAnyUnderscore">
        <xsd:annotation>
            <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Create">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="EntityWithQuiteALongNameWithoutIncludingAnyUnderscore">
            <xsd:selector xpath="."/>
            <xsd:field xpath="Id"/>
        </xsd:unique>
    </xsd:element>

    <xsd:simpleType name="UUID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

    <!-- INHERITANCE TYPE MODEL -->
    <xsd:element name="A" type="A">
        <xsd:unique name="A">
            <xsd:selector xpath="."/>
            <xsd:field xpath="id"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="B" type="B">
        <xsd:unique name="B">
            <xsd:selector xpath="."/>
            <xsd:field xpath="id"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="C" type="C">
        <xsd:unique name="C">
            <xsd:selector xpath="."/>
            <xsd:field xpath="id"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="D" type="D">
        <xsd:unique name="D">
            <xsd:selector xpath="."/>
            <xsd:field xpath="id"/>
        </xsd:unique>
    </xsd:element>
    <xsd:complexType name="A">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="textA" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="refB" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_ForeignKey">B/id</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="nestedB" type="Nested"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="B">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="textB" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="C">
        <xsd:complexContent>
            <xsd:extension base="A">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="textC" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="D">
        <xsd:complexContent>
            <xsd:extension base="B">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="textD" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Nested">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="text" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SubNested">
        <xsd:complexContent>
            <xsd:extension base="Nested">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="subText" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
