org.talend.mdm.webapp.browserecords/src/test/resources/org/talend/mdm/webapp/browserecords/server/bizhelpers/Employee.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://www.w3.org/2001/XMLSchema" />
	<xsd:element name="Employee">
		<xsd:annotation>
			<xsd:appinfo source="X_PrimaryKeyInfo">Employee/Firstname</xsd:appinfo>
			<xsd:appinfo source="X_PrimaryKeyInfo">Employee/Lastname</xsd:appinfo>
			<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
			<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element maxOccurs="1" minOccurs="1" name="Id"
					type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
						<xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="Avatar"
					type="PICTURE">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="1" name="Firstname"
					type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
						<xsd:appinfo source="X_Label_EN">Firstname</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="Lastname"
					type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
						<xsd:appinfo source="X_Label_EN">Lastname</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="DOB"
					type="xsd:date">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="Nationality"
					type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo source="X_ForeignKey">EmpCountry</xsd:appinfo>
						<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="Gender"
					type="SexType">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="SSNNO"
					type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="Address"
					type="AddressType">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
						<xsd:appinfo source="X_Label_EN">address</xsd:appinfo>
						<xsd:appinfo source="X_Label_FR">adresse</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="Location"
					type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo source="X_ForeignKey">EmpCountry</xsd:appinfo>
						<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
						<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
						<xsd:appinfo source="X_Label_EN">Location</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="HomePhone"
					type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="WorkPhone"
					type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="MobilePhone"
					type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="CV" type="URL">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="WorkEmail"
					type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="OtherEmail"
					type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="Function"
					type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo source="X_ForeignKey">EmpDepartment/DeptId</xsd:appinfo>
						<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
						<xsd:appinfo source="X_ForeignKeyInfo">EmpDepartment/DeptName
						</xsd:appinfo>
						<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="Team"
					type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo source="X_ForeignKey">EmpTeam</xsd:appinfo>
						<xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
						<xsd:appinfo source="X_ForeignKeyInfo">EmpTeam/TeamName</xsd:appinfo>
						<xsd:appinfo source="X_ForeignKeyInfo">EmpTeam/Department</xsd:appinfo>
						<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
						<xsd:appinfo source="X_ForeignKey_Filter">EmpTeam/Department$$=$$&amp;quot;[1]&amp;quot;$$#
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="JobTitle"
					type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
						<xsd:appinfo source="X_Label_EN">Job Title</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="JoinedDate"
					type="xsd:date">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="EmpType"
					type="EmpType">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="Salary"
					type="SalaryType">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="Manager"
					type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo source="X_ForeignKey">Employee</xsd:appinfo>
						<xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
						<xsd:appinfo source="X_ForeignKeyInfo">Employee/Firstname</xsd:appinfo>
						<xsd:appinfo source="X_ForeignKeyInfo">Employee/Lastname</xsd:appinfo>
						<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="TerminateDate"
					type="xsd:date">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="EmpStatus"
					type="EmpStatus">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
						<xsd:appinfo source="X_Label_EN">Status</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="SkillSet">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="unbounded" minOccurs="0"
								name="SkillTerm">
								<xsd:annotation>
									<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
									<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:all>
										<xsd:element maxOccurs="1" minOccurs="0" name="Skill"
											type="xsd:string">
											<xsd:annotation>
												<xsd:appinfo source="X_ForeignKey">EmpSkill</xsd:appinfo>
												<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
												<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
												<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
												<xsd:appinfo source="X_ForeignKeyInfo">EmpSkill/SkillName
												</xsd:appinfo>
												<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" name="SkillLevel"
											type="SkillLevelType">
											<xsd:annotation>
												<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
												<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
									</xsd:all>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
		<xsd:unique name="Employee">
			<xsd:selector xpath="." />
			<xsd:field xpath="Id" />
		</xsd:unique>
	</xsd:element>
	<xsd:complexType abstract="true" name="AddressType">
		<xsd:annotation>
			<xsd:appinfo source="X_Label_EN">addressType</xsd:appinfo>
			<xsd:appinfo source="X_Label_FR">adresseType</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="Line1"
				type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
					<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Line2"
				type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
					<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="City"
				type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
					<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Longitude"
				type="xsd:double">
				<xsd:annotation>
					<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
					<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Latitude"
				type="xsd:double">
				<xsd:annotation>
					<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
					<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Map" type="URL">
				<xsd:annotation>
					<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
					<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EUAddressType">
		<xsd:complexContent>
			<xsd:extension base="AddressType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="PostalCode"
						type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="1" name="County"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="USAddressType">
		<xsd:annotation>
			<xsd:appinfo source="X_Label_EN">USAddressType</xsd:appinfo>
			<xsd:appinfo source="X_Label_FR">USAdresseType</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AddressType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="ZipCode"
						type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="1" name="State"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CNAddressType">
		<xsd:complexContent>
			<xsd:extension base="AddressType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="PostalCode"
						type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="1" name="Province"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CountryType">
		<xsd:all>
			<xsd:element maxOccurs="1" minOccurs="1" name="CountryCode"
				type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
					<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="CountryName"
				type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
					<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:element name="EmpCountry" type="CountryType">
		<xsd:annotation>
			<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
			<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
		</xsd:annotation>
		<xsd:unique name="EmpCountry">
			<xsd:selector xpath="." />
			<xsd:field xpath="CountryCode" />
		</xsd:unique>
	</xsd:element>
	<xsd:simpleType name="URL">
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>
	<xsd:element name="EmpDepartment">
		<xsd:annotation>
			<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
			<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element maxOccurs="1" minOccurs="1" name="DeptId"
					type="AUTO_INCREMENT">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="DeptName"
					type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="Note"
					type="xsd:anyURI">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
		<xsd:unique name="EmpDepartment">
			<xsd:selector xpath="." />
			<xsd:field xpath="DeptId" />
		</xsd:unique>
	</xsd:element>
	<xsd:element name="EmpTeam">
		<xsd:annotation>
			<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
			<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element maxOccurs="1" minOccurs="1" name="TeamId"
					type="AUTO_INCREMENT">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="TeamName"
					type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="Department"
					type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo source="X_ForeignKey">EmpDepartment</xsd:appinfo>
						<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
						<xsd:appinfo source="X_ForeignKeyInfo">EmpDepartment/DeptName
						</xsd:appinfo>
						<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
		<xsd:unique name="EmpTeam">
			<xsd:selector xpath="." />
			<xsd:field xpath="TeamId" />
		</xsd:unique>
	</xsd:element>
	<xsd:simpleType name="AUTO_INCREMENT">
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>
	<xsd:simpleType name="SexType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Male" />
			<xsd:enumeration value="Female" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EmpStatus">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="approved" />
			<xsd:enumeration value="terminated" />
			<xsd:enumeration value="pending" />
			<xsd:enumeration value="rejected" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EmpType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="part-time" />
			<xsd:enumeration value="fixed-term" />
			<xsd:enumeration value="contractor" />
			<xsd:enumeration value="consultant" />
			<xsd:enumeration value="casual" />
			<xsd:enumeration value="zero hours" />
			<xsd:enumeration value="seasonal" />
			<xsd:enumeration value="agency or 'temp'" />
			<xsd:enumeration value="office holder" />
			<xsd:enumeration value="volunteer" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PICTURE">
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>
	<xsd:simpleType name="PayFrequenceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="per month" />
			<xsd:enumeration value="per day" />
			<xsd:enumeration value="per hour" />
			<xsd:enumeration value="per year" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UUID">
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>
	<xsd:complexType name="SalaryType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="number"
				type="xsd:double">
				<xsd:annotation>
					<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
					<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					<xsd:appinfo source="X_Label_EN">Salary #</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="currency"
				type="CurrencyType">
				<xsd:annotation>
					<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
					<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="pay_frequence"
				type="PayFrequenceType">
				<xsd:annotation>
					<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
					<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="CurrencyType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="EUR" />
			<xsd:enumeration value="USD" />
			<xsd:enumeration value="CNY" />
			<xsd:enumeration value="GBP" />
			<xsd:enumeration value="JPY" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="EmpSkill">
		<xsd:annotation>
			<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
			<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element maxOccurs="1" minOccurs="1" name="SkillCode"
					type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="SkillName"
					type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="SkillCatalog"
					type="SkillCatalog">
					<xsd:annotation>
						<xsd:appinfo source="X_Write">Emp_Manager</xsd:appinfo>
						<xsd:appinfo source="X_Write">Emp_User</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
		<xsd:unique name="EmpSkill">
			<xsd:selector xpath="." />
			<xsd:field xpath="SkillCode" />
		</xsd:unique>
	</xsd:element>
	<xsd:simpleType name="SkillCatalog">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Sales" />
			<xsd:enumeration value="Development" />
			<xsd:enumeration value="Communication" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SkillLevelType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Beginning" />
			<xsd:enumeration value="Intermediate" />
			<xsd:enumeration value="Advanced" />
			<xsd:enumeration value="Fluent" />
			<xsd:enumeration value="Good" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
