org.talend.mdm.core.storage.sql/src/test/resources/com/amalto/core/storage/Features.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Factures">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdDocument" type="AUTO_INCREMENT">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CodeEntiteFact" type="StringMax3">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CodeServiceFact" type="StringMax35">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="NoDocument" type="StringMax25">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="DateDocument" type="xsd:date">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="TypeDocument" type="StringLength1">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CycleDocument" type="StringLength1">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="OrigineDocument" type="StringMax20">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="FluxDocument" type="StringMax20">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="RefTiersPrestation" type="StringMax20">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CompteTiersPrestation" type="StringMax5">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="RefTiersFact" type="StringMax20">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CompteTiersFact" type="StringMax5">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="TypeTiersFact" type="StringMax3">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="DateEcheance" type="xsd:date">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Devise" type="StringMax3">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CodeReglement" type="StringLength1">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="DelaiReglement" type="xsd:integer">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Rum" type="StringMax35">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CompteBic" type="StringMax11">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CompteIban" type="StringMax34">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="TotalHt" type="xsd:decimal">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="TotalTva" type="xsd:decimal">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="TotalTtc" type="xsd:decimal">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="Factures">
            <xsd:selector xpath="." />
            <xsd:field xpath="IdDocument" />
        </xsd:unique>
    </xsd:element>
    <xsd:simpleType name="StringMax3">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="StringMax35">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="StringMax25">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="25" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="StringLength1">
        <xsd:restriction base="xsd:string">
            <xsd:length value="1" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="StringMax20">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AUTO_INCREMENT">
        <xsd:restriction base="xsd:string" />
    </xsd:simpleType>
    <xsd:simpleType name="StringMax5">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="StringMax11">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="11" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="StringMax34">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="34" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="FactureDetail">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdLigne" type="AUTO_INCREMENT">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdFacture" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">Factures/IdDocument</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Nature" type="StringMax12">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="NoDocAFacturer" type="StringMax35">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="DateDocAFacturer" type="xsd:date">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="NoBonCommande" type="StringMax35">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="DateBonCommande" type="xsd:date">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Reference" type="StringMax35">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Designation" type="StringMax35">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CompteGeneral" type="StringMax10">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="SectionAna" type="StringMax10">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CodeTva" type="StringMax3">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Quantite" type="xsd:decimal">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="PrixUnitaireHt" type="xsd:decimal">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="MontantHt" type="xsd:decimal">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="FactureDetail">
            <xsd:selector xpath="." />
            <xsd:field xpath="IdLigne" />
        </xsd:unique>
    </xsd:element>
    <xsd:simpleType name="StringMax12">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="12" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="StringMax10">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="FactureRecapTva">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdLigneTva" type="AUTO_INCREMENT">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdFacture" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">Factures/IdDocument</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CodeTva" type="StringMax3">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="IntituleTva" type="StringMax35">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="TauxTva" type="StringMax5">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="BaseHt" type="xsd:decimal">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="MontantTva" type="xsd:decimal">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="FactureRecapTva">
            <xsd:selector xpath="." />
            <xsd:field xpath="IdLigneTva" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="ParamComptes">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="CycleDocument" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Nature" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="CodeCompte" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="LibelleCompte" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="ParamComptes">
            <xsd:selector xpath="." />
            <xsd:field xpath="CycleDocument" />
            <xsd:field xpath="Nature" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="ParamJournaux">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="ParamJournauxId" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="ParamJournaux">
            <xsd:selector xpath="." />
            <xsd:field xpath="ParamJournauxId" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="FacturesTest">
        <xsd:annotation>
            <xsd:appinfo source="X_Schematron">&lt;pattern name="Test" &gt; &lt;rule context="LigneFacture/Nature"&gt;&lt;assert test=".=&amp;apos;ALM&amp;apos;"&gt;&lt;![CDATA[]]&gt;&lt;/assert&gt;&lt;/rule&gt; &lt;/pattern&gt;</xsd:appinfo>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FacturesTestId" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Cycle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="1" name="LigneFacture" type="LignesFactures">
                    <xsd:annotation>
                        <xsd:appinfo source="X_AutoExpand">false</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="TestAutoincrement" type="AUTO_INCREMENT">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
        <xsd:unique name="FacturesTest">
            <xsd:selector xpath="." />
            <xsd:field xpath="FacturesTestId" />
        </xsd:unique>
    </xsd:element>
    <xsd:complexType name="LignesFactures">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="Nature" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Prix" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="FkComptes" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_ForeignKey">ParamComptes</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="FactFacturesStg">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" name="CodeEntiteFact" type="StringMax3">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CodeServiceFact" type="StringMax35">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="NoDocument" type="StringMax25">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="DateDocument" type="xsd:date">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="TypeDocument" type="StringLength1">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="CycleDocument" type="StringLength1">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="OrigineDocument" type="StringMax20">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="FluxDocument" type="StringMax20">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="RefTiersPrestation" type="StringMax20">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CompteTiersPrestation" type="StringMax5">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">FactComptesTiers/CompteReference</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="RefTiersFact" type="StringMax20">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CompteTiersFact" type="StringMax5">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">FactComptesTiers/CompteReference</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="TypeTiersFact" type="StringMax3">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="DateEcheance" type="xsd:date">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Devise" type="StringMax3">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CodeReglement" type="StringLength1">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="DelaiReglement" type="xsd:integer">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Rum" type="StringMax35">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CompteBic" type="StringMax11">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CompteIban" type="StringMax34">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="TotalHt" type="xsd:decimal">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="TotalTva" type="xsd:decimal">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="TotalTtc" type="xsd:decimal">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="1" name="LignesFacturesStg" type="TypeLignesFacturesStg">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="1" name="TvaFacturesStg" type="TypeTvaFacturesStg">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CodeJournal" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">FactJournaux</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
        <xsd:unique name="FactFacturesStg">
            <xsd:selector xpath="." />
            <xsd:field xpath="OrigineDocument" />
            <xsd:field xpath="FluxDocument" />
            <xsd:field xpath="NoDocument" />
            <xsd:field xpath="DateDocument" />
        </xsd:unique>
    </xsd:element>
    <xsd:complexType name="TypeLignesFacturesStg">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="IdLigne" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Nature" type="StringMax12">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="NoDocAFacturer" type="StringMax35">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="DateDocAFacturer" type="xsd:date">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="NoBonCommande" type="StringMax35">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="DateBonCommande" type="xsd:date">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Reference" type="StringMax35">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Designation" type="StringMax35">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="CompteGeneral" type="StringMax10">
                <xsd:annotation>
                    <xsd:appinfo source="X_ForeignKey">FactComptes/CompteCode</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="SectionAna" type="StringMax10">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="CodeTva" type="StringMax3">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Quantite" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="PrixUnitaireHt" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="MontantHt" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TypeTvaFacturesStg">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="IdLigneTva" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="CodeTva" type="StringMax3">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="IntituleTva" type="StringMax35">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="TauxTva" type="StringMax5">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="BaseHt" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="MontantTva" type="xsd:decimal">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="FactComptes">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="CompteCode" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CompteLibelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="FactComptes">
            <xsd:selector xpath="." />
            <xsd:field xpath="CompteCode" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="FactJournaux">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="JournalEntite" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="JournalCode" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="JournalLibelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="FactJournaux">
            <xsd:selector xpath="." />
            <xsd:field xpath="JournalEntite" />
            <xsd:field xpath="JournalCode" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="FactComptesTiers">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="CompteReference" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CompteLibelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CompteType" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="FactComptesTiers">
            <xsd:selector xpath="." />
            <xsd:field xpath="CompteReference" />
        </xsd:unique>
    </xsd:element>
</xsd:schema>