org.talend.mdm.webapp.browserecords/src/test/resources/org/talend/mdm/webapp/browserecords/server/ruleengine/BasicVisibleRuleWithFunction.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>
<xsd:element name="BasicVisibleRuleFunction">
        <xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
        <xsd:complexType>
<xsd:all>
<xsd:element name="subelement" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="name" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="testfield" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Visible_Rule">fn:string-length('hello') &gt; 10</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="cp" type="CP">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
<xsd:unique name="BasicVisibleRuleFunction">
<xsd:selector xpath="."/>
<xsd:field xpath="subelement"/>
</xsd:unique>
</xsd:element>
<xsd:complexType name="CP">
        <xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="title" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Visible_Rule">fn:ends-with('hello','h')</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="5" minOccurs="3" name="address" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Visible_Rule">fn:ends-with('hello','o')</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
