org.talend.mdm.webapp.browserecords/src/test/resources/org/talend/mdm/webapp/browserecords/server/ruleengine/DefaultValueWithFunctionModel.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>
<xsd:element name="TestDefaultModel">
        <xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
        <xsd:complexType>
<xsd:all>
<xsd:element name="subelement" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="name" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Default_Value_Rule">'zhang'</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="cp" type="CP">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
<xsd:unique name="TestDefaultModel">
<xsd:selector xpath="."/>
<xsd:field xpath="subelement"/>
</xsd:unique>
</xsd:element>
<xsd:complexType name="CP">
        <xsd:all>
<xsd:element maxOccurs="1" minOccurs="0" name="title" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Default_Value_Rule">fn:concat('hello', 'world!!!')</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="content" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Default_Value_Rule">fn:abs(-5) + fn:abs(-5)</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
        </xsd:all>
</xsd:complexType>
</xsd:schema>
