org.talend.mdm.webapp.browserecords/src/test/resources/org/talend/mdm/webapp/browserecords/server/ruleengine/MultipleOccurenceDefaultValueRule.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>
<xsd:element name="MultipleOccurence">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="subelement" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="name" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="cp" type="CP">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="3" minOccurs="2" name="tel" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
<xsd:appinfo source="X_Default_Value_Rule">fn:concat('phone',': 1323234323')</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:unique name="MultipleOccurence">
<xsd:selector xpath="."/>
<xsd:field xpath="subelement"/>
</xsd:unique>
</xsd:element>
<xsd:complexType name="CP">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="title" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="6" minOccurs="3" name="address" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
<xsd:appinfo source="X_Default_Value_Rule">fn:concat('hello ','this is address')</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
