org.talend.mdm.webapp.browserecords/src/test/resources/org/talend/mdm/webapp/browserecords/server/ruleengine/VisibleRuleForInheritance.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>
<xsd:element name="VisibleRuleForInheritance">
        <xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
        <xsd:complexType>
<xsd:all>
<xsd:element name="subelement" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="name" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="testfield" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
<xsd:appinfo source="X_Visible_Rule">fn:string-length('hello')&gt;3</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="person" type="Person">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
<xsd:unique name="VisibleRuleForInheritance">
<xsd:selector xpath="."/>
<xsd:field xpath="subelement"/>
</xsd:unique>
</xsd:element>
<xsd:complexType name="Person">
        <xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="name" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
<xsd:appinfo source="X_Visible_Rule">fn:string-length('hello world')&gt;8</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Teacher">
<xsd:complexContent>
<xsd:extension base="Person">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="salary" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
<xsd:appinfo source="X_Visible_Rule">fn:string-length('hello world')&gt;10</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="Student">
<xsd:complexContent>
<xsd:extension base="Person">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="score" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
<xsd:appinfo source="X_Visible_Rule">fn:string-length('hello world')&gt;15</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:schema>
