org.talend.mdm.core/test/com/amalto/core/metadata/schema3.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>
    <xsd:element name="Product">
        <xsd:annotation>
            <xsd:appinfo source="X_Label_FR">Produit</xsd:appinfo>
            <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
            <xsd:appinfo source="X_Label_EN">Product</xsd:appinfo>
            <xsd:appinfo source="X_Lookup_Field">Product/Availability</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all maxOccurs="1" minOccurs="1">
                <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Id unique</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Unique Id</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Nom</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
                        <xsd:appinfo source="cX_Write">Demo_Manager</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Name</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="ShortDescription" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="LongDescription" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Description</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Description</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Features">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Caract?ristiques</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Features</xsd:appinfo>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Sizes">
                                <xsd:annotation>
                                    <xsd:appinfo source="X_Description_FR">Un produit peut ?tre disponible dans
                                        plusieurs tailles.
                                    </xsd:appinfo>
                                    <xsd:appinfo source="X_Label_FR">Tailles</xsd:appinfo>
                                    <xsd:appinfo source="X_Description_EN">A product may be available in more than one
                                        size.
                                    </xsd:appinfo>
                                    <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
                                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                                    <xsd:appinfo source="X_Label_EN">Sizes</xsd:appinfo>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element maxOccurs="unbounded" name="Size" type="xsd:string">
                                            <xsd:annotation>
                                                <xsd:appinfo source="X_Label_FR">Taille</xsd:appinfo>
                                                <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
                                                <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                                                <xsd:appinfo source="X_Label_EN">Size</xsd:appinfo>
                                            </xsd:annotation>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Colors">
                                <xsd:annotation>
                                    <xsd:appinfo source="X_Description_FR">Un produit peut ?tre disponible dans
                                        plusieurs couleurs.
                                    </xsd:appinfo>
                                    <xsd:appinfo source="X_Label_FR">Couleurs</xsd:appinfo>
                                    <xsd:appinfo source="X_Description_EN">A product can be available in more than one
                                        color.
                                    </xsd:appinfo>
                                    <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
                                    <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                                    <xsd:appinfo source="X_Label_EN">Colors</xsd:appinfo>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element maxOccurs="unbounded" name="Color" type="xsd:string">
                                            <xsd:annotation>
                                                <xsd:appinfo source="X_Label_FR">Couleur</xsd:appinfo>
                                                <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
                                                <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                                                <xsd:appinfo source="X_Label_EN">Color</xsd:appinfo>
                                            </xsd:annotation>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Availability" type="xsd:positiveInteger">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Disponibilit?</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Availability</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Price" type="xsd:decimal">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Description_FR">Faites une demande de changement de prix pour modifier
                        </xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Prix</xsd:appinfo>
                        <xsd:appinfo source="X_Description_EN">Run a price request to change this price</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Price</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Family" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Famille</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKeyInfo">ProductFamily/Name</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey">ProductFamily/Id</xsd:appinfo>
                        <xsd:appinfo source="X_FKIntegrity">false</xsd:appinfo>
                        <xsd:appinfo source="X_FKIntegrity_Override">true</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Family</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Supplier" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey">Supplier/Id</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKeyInfo">Supplier/Name</xsd:appinfo>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CreationDate" type="xsd:date">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="RemovalDate" type="xsd:date">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Status" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="Product">
            <xsd:selector xpath="."/>
            <xsd:field xpath="Id"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="Supplier">
        <xsd:annotation>
            <xsd:appinfo source="X_Label_FR">Supplier</xsd:appinfo>
            <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
            <xsd:appinfo source="X_Label_EN">Supplier</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all maxOccurs="1" minOccurs="1">
                <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Id unique</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Unique Id</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Id unique</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Unique Id</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="Supplier">
            <xsd:selector xpath="."/>
            <xsd:field xpath="Id"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="ProductFamily">
        <xsd:annotation>
            <xsd:appinfo source="X_Label_FR">ProductFamily</xsd:appinfo>
            <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
            <xsd:appinfo source="X_Label_EN">ProductFamily</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all maxOccurs="1" minOccurs="1">
                <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Id unique</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Unique Id</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Id unique</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
                        <xsd:appinfo source="X_Label_EN">Unique Id</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="ProductFamily">
            <xsd:selector xpath="."/>
            <xsd:field xpath="Id"/>
        </xsd:unique>
    </xsd:element>

</xsd:schema>
