org.talend.mdm.core/test/com/amalto/core/metadata/schema29.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">  
  <xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>  
  <xsd:complexType name="CouleurType"> 
    <xsd:all> 
      <xsd:element maxOccurs="1" minOccurs="1" name="FkCouleur" type="xsd:string"> 
        <xsd:annotation> 
            
            
            
            
            
            
            
           
        

<xsd:appinfo source="X_Label_FR">Détails</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey">CouleurBasique/CouleurBasiqueId</xsd:appinfo>


<xsd:appinfo source="X_Label_EN">Details</xsd:appinfo>

<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>


<xsd:appinfo source="X_ForeignKeyInfo">CouleurBasique/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>








<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation> 
      </xsd:element> 
            <xsd:element maxOccurs="1" minOccurs="1" name="FkNiveau" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">Niveau/NiveauId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">Niveau/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Level</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Niveau</xsd:appinfo>


<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
        </xsd:all> 
  </xsd:complexType>    
  <xsd:element name="CodePantone"> 
    <xsd:annotation> 
        
      <xsd:appinfo source="X_Label_EN">Pantone Code</xsd:appinfo>  
      <xsd:appinfo source="X_Label_FR">Code Pantone</xsd:appinfo> 
    









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>  
    <xsd:complexType> 
      <xsd:all> 
        <xsd:element name="CodePantoneId" type="AUTO_INCREMENT"> 
          <xsd:annotation> 
              
            <xsd:appinfo source="X_Label_FR">ID</xsd:appinfo>  
            <xsd:appinfo source="X_Label_EN">ID</xsd:appinfo> 
          









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation> 
        </xsd:element>  
                <xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:string"> 
          <xsd:annotation> 
              
              
             
          
<xsd:appinfo source="X_Label_FR">Code</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Code</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation> 
        </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="FkCouleur" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_ForeignKey">CouleurBasique/CouleurBasiqueId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">CouleurBasique/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Color</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Couleur</xsd:appinfo>





<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>  
                <xsd:element maxOccurs="1" minOccurs="1" name="CodePantone" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Pantone Code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code Pantone</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="MULTI_LINGUAL"> 
          <xsd:annotation> 
              
            <xsd:appinfo source="X_Label_FR">Libellé</xsd:appinfo>  
            <xsd:appinfo source="X_Label_EN">Label</xsd:appinfo> 
          









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation> 
        </xsd:element> 
                <xsd:element maxOccurs="1" minOccurs="1" name="Actif" type="xsd:boolean">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Active</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Actif</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
            </xsd:all> 
    </xsd:complexType>  
    <xsd:unique name="CodePantone"> 
      <xsd:selector xpath="."/>  
      <xsd:field xpath="CodePantoneId"/> 
    </xsd:unique> 
  </xsd:element>  
  <xsd:element name="CouleurBasique"> 
    <xsd:annotation> 
        
      <xsd:appinfo source="X_Description_EN">Basic Colour</xsd:appinfo>  
      <xsd:appinfo source="X_Description_FR">Couleur Basique</xsd:appinfo>  
      <xsd:appinfo source="X_Label_EN">Basic Colour</xsd:appinfo>  
      <xsd:appinfo source="X_Label_FR">Couleur Basique</xsd:appinfo> 
    









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>  
    <xsd:complexType> 
      <xsd:all> 
        <xsd:element maxOccurs="1" minOccurs="1" name="CouleurBasiqueId" type="AUTO_INCREMENT"> 
          <xsd:annotation> 
              
            <xsd:appinfo source="X_Label_FR">ID</xsd:appinfo>  
            <xsd:appinfo source="X_Label_EN">ID</xsd:appinfo> 
          









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation> 
        </xsd:element>  
                <xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="MULTI_LINGUAL"> 
          <xsd:annotation> 
              
            <xsd:appinfo source="X_Label_FR">Libellé</xsd:appinfo>  
            <xsd:appinfo source="X_Label_EN">Label</xsd:appinfo> 
          









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation> 
        </xsd:element> 
                <xsd:element maxOccurs="1" minOccurs="1" name="Actif" type="xsd:boolean">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Active</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Actif</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
            </xsd:all> 
    </xsd:complexType>  
    <xsd:unique name="CouleurBasique"> 
      <xsd:selector xpath="."/>  
      <xsd:field xpath="CouleurBasiqueId"/> 
    </xsd:unique> 
  </xsd:element>  
  <xsd:element name="Article"> 
    <xsd:annotation> 
        
      <xsd:appinfo source="X_Description_EN">ARTICLE</xsd:appinfo>  
      <xsd:appinfo source="X_Description_FR">ARTICLE</xsd:appinfo> 
    

<xsd:appinfo source="X_Label_EN">Article</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Article</xsd:appinfo>









<xsd:appinfo source="X_Schematron">&lt;pattern name="NiveauQualite" &gt;
&lt;rule context="FkNiveauQualite"&gt;&lt;assert test=". = &amp;quot;[0]&amp;quot; or . = &amp;quot;[1]&amp;quot;"&gt;&lt;![CDATA[[FR:Le niveau de qualité est insuffisant]]]&gt;&lt;/assert&gt;&lt;/rule&gt;
&lt;/pattern&gt;
</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>  
    <xsd:complexType> 
      <xsd:sequence> 
        <xsd:element name="ArticleId" type="AUTO_INCREMENT"> 
          <xsd:annotation> 
              
            <xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">ID</xsd:appinfo> 
          










<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation> 
        </xsd:element>  
                <xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code</xsd:appinfo>










<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Nom" type="MULTI_LINGUAL">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Name</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Nom</xsd:appinfo>










<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Description" type="MULTI_LINGUAL">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Description</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Description</xsd:appinfo>










<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="ClassificationCommerciale">
<xsd:annotation>




<xsd:appinfo source="X_Label_FR">Classification commerciale</xsd:appinfo>






<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:all>
<xsd:element maxOccurs="1" minOccurs="1" name="Categorie" type="CategorieType">
<xsd:annotation>




<xsd:appinfo source="X_Label_FR">Catégorie</xsd:appinfo>






<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Univers" type="UniversType">
<xsd:annotation>




<xsd:appinfo source="X_Label_FR">Univers</xsd:appinfo>






<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Famille" type="FamilleType">
<xsd:annotation>




<xsd:appinfo source="X_Label_FR">Famille</xsd:appinfo>






<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="SousFamille" type="SousFamilleType">
<xsd:annotation>




<xsd:appinfo source="X_Label_FR">Sous famille</xsd:appinfo>






<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Segment" type="SegmentType">
<xsd:annotation>




<xsd:appinfo source="X_Label_FR">Segment</xsd:appinfo>






<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CodesPantone">
<xsd:annotation>





<xsd:appinfo source="X_Label_EN">Pantone code description</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Description des codes pantone</xsd:appinfo>






<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="CodePantone" type="CodePantoneType">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Pantone code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code pantone</xsd:appinfo>

<xsd:appinfo source="X_AutoExpand">true</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                        </xsd:sequence>
</xsd:complexType>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Couleurs"> 
          <xsd:annotation> 
              
            <xsd:appinfo source="X_AutoExpand">false</xsd:appinfo> 
          
<xsd:appinfo source="X_Label_EN">Colour Description</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Description des couleurs</xsd:appinfo>










<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>  
          <xsd:complexType> 
                        <xsd:sequence>      
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Couleur" type="CouleurType">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Color</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Couleur</xsd:appinfo>

<xsd:appinfo source="X_AutoExpand">true</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                        </xsd:sequence> 
          </xsd:complexType> 
        </xsd:element>      
                <xsd:element maxOccurs="1" minOccurs="0" name="Matieres">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Stuff Description</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Description des matières</xsd:appinfo>










<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Matiere" type="MatiereType">
<xsd:annotation>



<xsd:appinfo source="X_Label_EN">Stuff</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Matière</xsd:appinfo>
<xsd:appinfo source="X_AutoExpand">true</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                        </xsd:sequence>
</xsd:complexType>
</xsd:element> 
                <xsd:element maxOccurs="1" minOccurs="0" name="TypesMatiere">
<xsd:annotation>

<xsd:appinfo source="X_Label_FR">Description des types matière</xsd:appinfo>


<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="TypeMatiere" type="TypeMatiereType">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Type matière</xsd:appinfo>
<xsd:appinfo source="X_AutoExpand">true</xsd:appinfo>


<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CyclesDeVie">
<xsd:annotation>



<xsd:appinfo source="X_Label_FR">Description des cycles de vie</xsd:appinfo>


<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="CycleDeVie" type="CycleDeVieType">
<xsd:annotation>
<xsd:appinfo source="X_AutoExpand">true</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Cycle de vie</xsd:appinfo>



<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Types">
<xsd:annotation>




<xsd:appinfo source="X_Label_FR">Description des types article</xsd:appinfo>


<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="TypeArticle" type="TypeArticleType">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Type</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Type</xsd:appinfo>
<xsd:appinfo source="X_AutoExpand">true</xsd:appinfo>



<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="FkNiveauQualite" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_ForeignKey">NiveauQualite/NiveauQualiteId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">NiveauQualite/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Quality level</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Niveau de qualité</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="FlagActivite" type="FlagActiviteType">
<xsd:annotation>

<xsd:appinfo source="X_Label_FR">Flag activité</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="FkAcheteurPersonne" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_ForeignKey">Personne/PersonneId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_Visible_Rule">false</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="FkAssistantPersonne" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_ForeignKey">Personne/PersonneId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_Visible_Rule">false</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="NumeroCommande" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Visible_Rule">false</xsd:appinfo>
</xsd:annotation>
</xsd:element>
            </xsd:sequence> 
    </xsd:complexType>  
    <xsd:unique name="Article"> 
      <xsd:selector xpath="."/>  
      <xsd:field xpath="ArticleId"/> 
    </xsd:unique> 
  </xsd:element>  
  <xsd:element name="Categorie"> 
    <xsd:annotation> 
        
      <xsd:appinfo source="X_Label_EN">Category</xsd:appinfo>  
      <xsd:appinfo source="X_Label_FR">Catégorie</xsd:appinfo> 
    









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>  
    <xsd:complexType> 
      <xsd:all> 
                <xsd:element maxOccurs="1" minOccurs="1" name="IdCategorie" type="AUTO_INCREMENT"> 
          <xsd:annotation> 
             
          
<xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">ID</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation> 
        </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>  
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="MULTI_LINGUAL"> 
          <xsd:annotation> 
              
              
             
          






<xsd:appinfo source="X_Label_FR">Libellé</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Label</xsd:appinfo>





<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation> 
        </xsd:element>       
                <xsd:element maxOccurs="1" minOccurs="1" name="Actif" type="xsd:boolean">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Active</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Actif</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
            </xsd:all> 
    </xsd:complexType>  
    <xsd:unique name="Categorie"> 
      <xsd:selector xpath="."/>  
      <xsd:field xpath="IdCategorie"/> 
    </xsd:unique> 
  </xsd:element>  
  <xsd:element name="Famille"> 
    <xsd:annotation> 
        
      <xsd:appinfo source="X_Description_EN">Family</xsd:appinfo>  
      <xsd:appinfo source="X_Description_FR">Famille</xsd:appinfo>  
      <xsd:appinfo source="X_Label_FR">Famille</xsd:appinfo>  
      <xsd:appinfo source="X_Label_EN">Family</xsd:appinfo> 
    









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>  
    <xsd:complexType> 
      <xsd:all> 
        <xsd:element maxOccurs="1" minOccurs="1" name="IdFamille" type="AUTO_INCREMENT"> 
          <xsd:annotation> 
              
            <xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">ID</xsd:appinfo> 
          









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation> 
        </xsd:element>      
                <xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="MULTI_LINGUAL">
<xsd:annotation>







<xsd:appinfo source="X_Label_EN">Label</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Libellé</xsd:appinfo>





<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="FkUnivers" type="xsd:string"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_ForeignKey">Univers/IdUnivers</xsd:appinfo>  
            <xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>  
              
              
              
              
             
          
<xsd:appinfo source="X_Label_EN">Universe</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Univers</xsd:appinfo>


<xsd:appinfo source="X_ForeignKeyInfo">Univers/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation> 
        </xsd:element> 
                <xsd:element maxOccurs="1" minOccurs="1" name="Actif" type="xsd:boolean">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Active</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Actif</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CodeTechnique" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Visible_Rule">false</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
            </xsd:all> 
    </xsd:complexType>  
    <xsd:unique name="Famille"> 
      <xsd:selector xpath="."/>  
      <xsd:field xpath="IdFamille"/> 
    </xsd:unique> 
  </xsd:element>  
  <xsd:element name="Segment"> 
    <xsd:annotation> 
        
      <xsd:appinfo source="X_Label_EN">Segment</xsd:appinfo>  
      <xsd:appinfo source="X_Label_FR">Segment</xsd:appinfo>  
      <xsd:appinfo source="X_Description_EN">Segment</xsd:appinfo>  
      <xsd:appinfo source="X_Description_FR">Segment</xsd:appinfo> 
    









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>  
    <xsd:complexType> 
      <xsd:all> 
        <xsd:element maxOccurs="1" minOccurs="1" name="IdSegment" type="AUTO_INCREMENT"> 
          <xsd:annotation> 
              
            <xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">ID</xsd:appinfo> 
          









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation> 
        </xsd:element>       
                <xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="MULTI_LINGUAL">
<xsd:annotation>







<xsd:appinfo source="X_Label_EN">Label</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Libellé</xsd:appinfo>





<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="FkSousFamille" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_ForeignKey">SousFamille/IdSousFamille</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>


<xsd:appinfo source="X_Label_EN">Sub Family</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Sous Famille</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">SousFamille/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Actif" type="xsd:boolean">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Active</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Actif</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CodeTechnique" type="xsd:string">

                    <xsd:annotation>
<xsd:appinfo source="X_Visible_Rule">false</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
                </xsd:element>
            </xsd:all> 
    </xsd:complexType>  
    <xsd:unique name="Segment"> 
      <xsd:selector xpath="."/>  
      <xsd:field xpath="IdSegment"/> 
    </xsd:unique> 
  </xsd:element>  
  <xsd:element name="SousFamille"> 
    <xsd:annotation> 
        
      <xsd:appinfo source="X_Label_EN">Sub Family</xsd:appinfo>  
      <xsd:appinfo source="X_Label_FR">Sous-famille</xsd:appinfo> 
    









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>  
    <xsd:complexType> 
      <xsd:all> 
                <xsd:element maxOccurs="1" minOccurs="1" name="IdSousFamille" type="AUTO_INCREMENT"> 
          <xsd:annotation> 
              
            <xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">ID</xsd:appinfo> 
          









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation> 
        </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>      
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="MULTI_LINGUAL">
<xsd:annotation>







<xsd:appinfo source="X_Label_EN">Label</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Libellé</xsd:appinfo>





<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="FkFamille" type="xsd:string"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_ForeignKey">Famille/IdFamille</xsd:appinfo>  
            <xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>  
              
              
              
              
             
          


<xsd:appinfo source="X_Label_EN">Family</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Famille</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">Famille/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation> 
        </xsd:element> 
                <xsd:element maxOccurs="1" minOccurs="1" name="Actif" type="xsd:boolean">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Active</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Actif</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CodeTechnique" type="xsd:string">

                    <xsd:annotation>
<xsd:appinfo source="X_Visible_Rule">false</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
                </xsd:element>
            </xsd:all> 
    </xsd:complexType>  
    <xsd:unique name="SousFamille"> 
      <xsd:selector xpath="."/>  
      <xsd:field xpath="IdSousFamille"/> 
    </xsd:unique> 
  </xsd:element>  
  <xsd:element name="Univers"> 
    <xsd:annotation> 
        
      <xsd:appinfo source="X_Label_EN">Universe</xsd:appinfo>  
      <xsd:appinfo source="X_Label_FR">Univers</xsd:appinfo> 
    









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>  
    <xsd:complexType> 
      <xsd:all> 
        <xsd:element maxOccurs="1" minOccurs="1" name="IdUnivers" type="AUTO_INCREMENT"> 
          <xsd:annotation> 
              
            <xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">ID</xsd:appinfo> 
          









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation> 
        </xsd:element>      
                <xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="MULTI_LINGUAL">
<xsd:annotation>







<xsd:appinfo source="X_Label_EN">Label</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Libellé</xsd:appinfo>





<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="FkCategorie" type="xsd:string"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_ForeignKey">Categorie/IdCategorie</xsd:appinfo>  
            <xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>  
              
              
              
              
             
          
<xsd:appinfo source="X_Label_EN">Category</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Categorie</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">Categorie/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation> 
        </xsd:element> 
                <xsd:element maxOccurs="1" minOccurs="1" name="Actif" type="xsd:boolean">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Active</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Actif</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CodeTechnique" type="xsd:string">

                    
                    <xsd:annotation>


<xsd:appinfo source="X_Visible_Rule">false</xsd:appinfo>
<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
                </xsd:element>
            </xsd:all> 
    </xsd:complexType>  
    <xsd:unique name="Univers"> 
      <xsd:selector xpath="."/>  
      <xsd:field xpath="IdUnivers"/> 
    </xsd:unique> 
  </xsd:element>  
  <xsd:element name="CycleDeVie"> 
    <xsd:annotation> 
      <xsd:appinfo source="X_Label_EN">Life cycle</xsd:appinfo>  
      <xsd:appinfo source="X_Label_FR">Cycle de vie</xsd:appinfo> 
    









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>  
    <xsd:complexType> 
      <xsd:all> 
        <xsd:element name="CycleDeVieId" type="AUTO_INCREMENT">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">ID</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>  
                <xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>     
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="MULTI_LINGUAL">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Label</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Libellé</xsd:appinfo>



<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Actif" type="xsd:boolean">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Active</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Actif</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
            </xsd:all> 
    </xsd:complexType>  
    <xsd:unique name="CycleDeVie"> 
      <xsd:selector xpath="."/>  
      <xsd:field xpath="CycleDeVieId"/> 
    </xsd:unique> 
  </xsd:element>          
  <xsd:simpleType name="Enum"> 
    <xsd:restriction base="xsd:string">    
            <xsd:enumeration value="0-Nouveauté"/>
            <xsd:enumeration value="1-Permanent"/>
            <xsd:enumeration value="2-Veille"/>
            <xsd:enumeration value="3-Epuisé [stade 1]"/>
            <xsd:enumeration value="4-Epuisé [stade 2]"/>
            <xsd:enumeration value="5-Epuisé [stade 3]"/>
            <xsd:enumeration value="6-Mort"/>
        </xsd:restriction> 
  </xsd:simpleType> 
    <xsd:simpleType name="MULTI_LINGUAL">
<xsd:restriction base="xsd:string">
<xsd:pattern value="(\[\w+\:[^\[\]]*\]){0,}"/>
</xsd:restriction>
</xsd:simpleType>
    <xsd:complexType name="CategorieType">
<xsd:all>
<xsd:element maxOccurs="1" minOccurs="1" name="FkCategorie" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">Categorie/IdCategorie</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">Categorie/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Categorie</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Category</xsd:appinfo>










<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
    <xsd:complexType name="UniversType">
<xsd:all>
<xsd:element maxOccurs="1" minOccurs="1" name="FkUnivers" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">Univers/IdUnivers</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>


<xsd:appinfo source="X_Label_EN">Universe</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Univers</xsd:appinfo>

<xsd:appinfo source="X_ForeignKeyInfo">Univers/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
    <xsd:complexType name="SousFamilleType">
<xsd:all>
<xsd:element maxOccurs="1" minOccurs="1" name="FkSousFamille" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">SousFamille/IdSousFamille</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>





<xsd:appinfo source="X_ForeignKeyInfo">SousFamille/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>



<xsd:appinfo source="X_Label_EN">Sub Family</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Sous famille</xsd:appinfo>






<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
    <xsd:complexType name="SegmentType">
<xsd:all>
<xsd:element maxOccurs="1" minOccurs="1" name="FkSegment" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">Segment/IdSegment</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>


<xsd:appinfo source="X_Label_EN">Segment</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Segment</xsd:appinfo>

<xsd:appinfo source="X_ForeignKeyInfo">Segment/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
    <xsd:complexType name="FamilleType">
<xsd:all>
<xsd:element maxOccurs="1" minOccurs="1" name="FkFamille" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">Famille/IdFamille</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>


<xsd:appinfo source="X_Label_EN">Family</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Famille</xsd:appinfo>

<xsd:appinfo source="X_ForeignKeyInfo">Famille/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
    <xsd:element name="Variante">
<xsd:annotation>
<xsd:appinfo source="X_Description_EN">VARIANT</xsd:appinfo>
<xsd:appinfo source="X_Description_FR">VARIANTE</xsd:appinfo>









<xsd:appinfo source="X_Schematron">&lt;pattern name="FkNiveauQualite" &gt;
&lt;rule context="FkNiveauQualite"&gt;&lt;assert test=". = &amp;quot;[0]&amp;quot; or . = &amp;quot;[1]&amp;quot;"&gt;&lt;![CDATA[[FR:Le niveau de qualité est insuffisant]]]&gt;&lt;/assert&gt;&lt;/rule&gt;
&lt;/pattern&gt;
</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:all>
<xsd:element name="VarianteId" type="AUTO_INCREMENT">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">ID</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="FkArticle" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_ForeignKey">Article/ArticleId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">Article/Nom</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Article</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Article</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="FkTypeUniteColisage" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_ForeignKey">TypeUniteColisage/UniteColisageId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">TypeUniteColisage/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Unité de colisage</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="EAN13" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">EAN13</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">EAN13</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="EAN128" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">EAN128</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">EAN128</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="FkFournisseur" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_ForeignKey">Fournisseur/FournisseurId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">Fournisseur/Nom</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Supplier</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Fournisseur</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="PoidsBrut" type="xsd:float">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Gross Weight</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Poids Brut</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="PoidsNet" type="xsd:float">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Net Weight</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Poids Net</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Largeur" type="xsd:float">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Width</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Largeur</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Longueur" type="xsd:float">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Length</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Longueur</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Hauteur" type="xsd:float">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Height</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Hauteur</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Diametre" type="xsd:float">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Diameter</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Diametre</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="FkNiveauQualite" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_ForeignKey">NiveauQualite/NiveauQualiteId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">NiveauQualite/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Quality level</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Niveau de qualité</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="FlagActivite" type="FlagActiviteType">
<xsd:annotation>


<xsd:appinfo source="X_Label_FR">Flag activité</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
            </xsd:all>
</xsd:complexType>
<xsd:unique name="Variante">
<xsd:selector xpath="."/>
<xsd:field xpath="VarianteId"/>
</xsd:unique>
</xsd:element>
    <xsd:element name="Fournisseur">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Supplier</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Fournisseur</xsd:appinfo>








<xsd:appinfo source="X_Schematron">&lt;pattern name="NiveauQualite" &gt;
&lt;rule context="FkNiveauQualite"&gt;&lt;assert test=". = &amp;quot;[0]&amp;quot; or . = &amp;quot;[1]&amp;quot;"&gt;&lt;![CDATA[[FR:Le niveau de qualité est insuffisant]]]&gt;&lt;/assert&gt;&lt;/rule&gt;
&lt;/pattern&gt;
</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:all>
<xsd:element name="FournisseurId" type="AUTO_INCREMENT">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">ID</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Nom" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Name</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Nom</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="RaisonSociale" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Corporate name</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Raison sociale</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="FkStatut" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">StatutFournisseur/StatutFournisseurId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Status</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Statut</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">StatutFournisseur/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="FkType" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">TypeFournisseur/TypeFournisseurId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Type</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Type</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">TypeFournisseur/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="FkSousType" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">SousTypeFournisseur/SousTypeFournisseurId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Sub type</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Sous type</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">SousTypeFournisseur/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="FkProvenance" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">Provenance/ProvenanceId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Origin</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Provenance</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">Provenance/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="FlagActivite" type="FlagActiviteType">
<xsd:annotation>

<xsd:appinfo source="X_Label_FR">Flag activité</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="FkNiveauQualite" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_ForeignKey">NiveauQualite/NiveauQualiteId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Niveau de qualité</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">NiveauQualite/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
            </xsd:all>
</xsd:complexType>
<xsd:unique name="Fournisseur">
<xsd:selector xpath="."/>
<xsd:field xpath="FournisseurId"/>
</xsd:unique>
</xsd:element>
    <xsd:element name="Pays">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Country</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Pays</xsd:appinfo>
<xsd:appinfo source="X_Description_EN">Country</xsd:appinfo>
<xsd:appinfo source="X_Description_FR">Pays</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:all>
<xsd:element name="PaysId" type="AUTO_INCREMENT">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">ID</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="Indicatif" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Area code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Indicatif</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="MULTI_LINGUAL">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Label</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Libellé</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="FkProvenance" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">Provenance/ProvenanceId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">Provenance/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>




<xsd:appinfo source="X_Label_FR">Provenance</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Origin</xsd:appinfo>





<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Actif" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Active</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Actif</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
<xsd:unique name="Pays">
<xsd:selector xpath="."/>
<xsd:field xpath="PaysId"/>
</xsd:unique>
</xsd:element>
    <xsd:element name="Provenance">
<xsd:annotation>
<xsd:appinfo source="X_Description_EN">Origin</xsd:appinfo>
<xsd:appinfo source="X_Description_FR">Provenance</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Origin</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Provenance</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:all>
<xsd:element name="ProvenanceId" type="AUTO_INCREMENT">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">ID</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="MULTI_LINGUAL">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Label</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Libellé</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Actif" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Active</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Actif</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
<xsd:unique name="Provenance">
<xsd:selector xpath="."/>
<xsd:field xpath="ProvenanceId"/>
</xsd:unique>
</xsd:element>
    <xsd:element name="SousTypeFournisseur">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Supplier Sub Type</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Sous Type Fournisseur</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:all>
<xsd:element name="SousTypeFournisseurId" type="AUTO_INCREMENT">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">ID</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="MULTI_LINGUAL">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Label</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Libellé</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Actif" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Active</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Actif</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
<xsd:unique name="SousTypeFournisseur">
<xsd:selector xpath="."/>
<xsd:field xpath="SousTypeFournisseurId"/>
</xsd:unique>
</xsd:element>
    <xsd:element name="TypeFournisseur">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Supplier Type</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Type Fournisseur</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:all>
<xsd:element name="TypeFournisseurId" type="AUTO_INCREMENT">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">ID</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="MULTI_LINGUAL">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Label</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Libellé</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Actif" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Active</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Actif</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
<xsd:unique name="TypeFournisseur">
<xsd:selector xpath="."/>
<xsd:field xpath="TypeFournisseurId"/>
</xsd:unique>
</xsd:element>
    <xsd:element name="StatutFournisseur">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Supplier Status</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Statut Fournisseur</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:all>
<xsd:element name="StatutFournisseurId" type="AUTO_INCREMENT">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">ID</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="MULTI_LINGUAL">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Label</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Libellé</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Actif" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Active</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Actif</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
<xsd:unique name="StatutFournisseur">
<xsd:selector xpath="."/>
<xsd:field xpath="StatutFournisseurId"/>
</xsd:unique>
</xsd:element>
    <xsd:element name="TypeUniteColisage">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Unité de colisage</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:all>
<xsd:element name="UniteColisageId" type="AUTO_INCREMENT">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">ID</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="MULTI_LINGUAL">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Label</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Libellé</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Actif" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Active</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Actif</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
<xsd:unique name="TypeUniteColisage">
<xsd:selector xpath="."/>
<xsd:field xpath="UniteColisageId"/>
</xsd:unique>
</xsd:element>
    <xsd:element name="TypeAdresse">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Address Type</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Type Adresse</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:all>
<xsd:element name="TypeAdresseId" type="AUTO_INCREMENT">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">ID</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:string">
<xsd:annotation>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="MULTI_LINGUAL">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Label</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Libellé</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Actif" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Active</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Actif</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
<xsd:unique name="TypeAdresse">
<xsd:selector xpath="."/>
<xsd:field xpath="TypeAdresseId"/>
</xsd:unique>
</xsd:element>
    <xsd:element name="NiveauQualite">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">Niveau de qualité</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Quality level</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:all>
<xsd:element name="NiveauQualiteId" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">ID</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="MULTI_LINGUAL">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Label</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Libellé</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
<xsd:unique name="NiveauQualite">
<xsd:selector xpath="."/>
<xsd:field xpath="NiveauQualiteId"/>
</xsd:unique>
</xsd:element>
    <xsd:element name="TypeArticle">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Article Type</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Type Article</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:all>
<xsd:element name="TypeArticleId" type="AUTO_INCREMENT">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">ID</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="MULTI_LINGUAL">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Label</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Libellé</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Actif" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Active</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Actif</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
            </xsd:all>
</xsd:complexType>
<xsd:unique name="TypeArticle">
<xsd:selector xpath="."/>
<xsd:field xpath="TypeArticleId"/>
</xsd:unique>
</xsd:element>
    <xsd:element name="Matiere">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Stuff</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Matière</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:all>
<xsd:element name="MatiereId" type="AUTO_INCREMENT">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">ID</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="FkType" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_ForeignKey">TypeMatiere/TypeMatiereId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">TypeMatiere/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Type</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Type</xsd:appinfo>








<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="MULTI_LINGUAL">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Label</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Libellé</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Actif" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Active</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Actif</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
            </xsd:all>
</xsd:complexType>
<xsd:unique name="Matiere">
<xsd:selector xpath="."/>
<xsd:field xpath="MatiereId"/>
</xsd:unique>
</xsd:element>
    <xsd:complexType name="MatiereType">
<xsd:all>
<xsd:element maxOccurs="1" minOccurs="1" name="FkMatiere" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">Matiere/MatiereId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>







<xsd:appinfo source="X_ForeignKeyInfo">Matiere/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>







<xsd:appinfo source="X_Label_EN">Details</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Détails</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="FkNiveau" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_ForeignKey">Niveau/NiveauId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">Niveau/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Level</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Niveau</xsd:appinfo>


<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
        </xsd:all>
</xsd:complexType>
    <xsd:element name="Adresse">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Address</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Adresse</xsd:appinfo>








<xsd:appinfo source="X_Schematron">&lt;pattern name="NiveauQualite" &gt;
&lt;rule context="FkNiveauQualite"&gt;&lt;assert test=". = &amp;quot;[0]&amp;quot; or . = &amp;quot;[1]&amp;quot;"&gt;&lt;![CDATA[[FR:Le niveau de qualité est insuffisant]]]&gt;&lt;/assert&gt;&lt;/rule&gt;
&lt;/pattern&gt;
</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:all>
<xsd:element name="AdresseId" type="AUTO_INCREMENT">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">ID</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="FkFournisseur" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">Fournisseur/FournisseurId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Supplier</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Fournisseur</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">Fournisseur/Nom</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="CodeAdresse" type="xsd:string">
<xsd:annotation>






<xsd:appinfo source="X_Label_EN">Gifi Address code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code adresse Gifi</xsd:appinfo>





<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="FkType" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">TypeAdresse/TypeAdresseId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Type</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Type</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">TypeAdresse/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="NomAdresse" type="xsd:string">
<xsd:annotation>






<xsd:appinfo source="X_Label_EN">Address name</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Nom adresse</xsd:appinfo>





<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="AdresseLigne1" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Address line 1</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Adresse ligne 1</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="AdresseLigne2" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Address line 2</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Adresse ligne 2</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="CodePostal" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Postal code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code postal</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="Ville" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">City</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Ville</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="Cedex" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Business postcode</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">CEDEX</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="FkPays" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">Pays/PaysId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">Pays/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Country</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Pays</xsd:appinfo>









<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="FlagActivite" type="FlagActiviteType">
<xsd:annotation>

<xsd:appinfo source="X_Label_FR">Flag activité</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="FkNiveauQualite" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_ForeignKey">NiveauQualite/NiveauQualiteId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Niveau de qualité</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">NiveauQualite/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
            </xsd:all>
</xsd:complexType>
<xsd:unique name="Adresse">
<xsd:selector xpath="."/>
<xsd:field xpath="AdresseId"/>
</xsd:unique>
</xsd:element>
    <xsd:simpleType name="EnumTypeArticle">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="11 : produit suivi GD "/>
<xsd:enumeration value="12 : produit ponctuel GD "/>
<xsd:enumeration value="13 : produit saisonnier GD "/>
<xsd:enumeration value="21 : produit suivi LD"/>
<xsd:enumeration value="22 : produit ponctuel LD"/>
<xsd:enumeration value="23 : produit saisonnier LD"/>
</xsd:restriction>
</xsd:simpleType>
    <xsd:complexType name="CodePantoneType">
<xsd:all>
<xsd:element maxOccurs="1" minOccurs="1" name="FkCodePantone" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">CodePantone/CodePantoneId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Details</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Détails</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">CodePantone/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>








<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="FkNiveau" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_ForeignKey">Niveau/NiveauId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">Niveau/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Level</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Niveau</xsd:appinfo>


<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
        </xsd:all>
</xsd:complexType>
    <xsd:element name="TypeMatiere">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Stuff type</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Type de matière</xsd:appinfo>








<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:all>
<xsd:element name="TypeMatiereId" type="AUTO_INCREMENT">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">ID</xsd:appinfo>








<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code</xsd:appinfo>








<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="MULTI_LINGUAL">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Label</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Libellé</xsd:appinfo>








<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Actif" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Active</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Actif</xsd:appinfo>








<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
<xsd:unique name="TypeMatiere">
<xsd:selector xpath="."/>
<xsd:field xpath="TypeMatiereId"/>
</xsd:unique>
</xsd:element>
    <xsd:simpleType name="AUTO_INCREMENT">
<xsd:restriction base="xsd:string"/>
</xsd:simpleType>
    <xsd:complexType name="TypeArticleType">
<xsd:all>
<xsd:element maxOccurs="1" minOccurs="1" name="FkTypeArticle" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">TypeArticle/TypeArticleId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">TypeArticle/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>





<xsd:appinfo source="X_Label_EN">Details</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Détails</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="FkPays" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_ForeignKey">Pays/PaysId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Country</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Pays</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">Pays/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>




<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="DateDebut" type="xsd:date">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Starting date</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Date de début</xsd:appinfo>




<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="DateFin" type="xsd:date">
<xsd:annotation>

<xsd:appinfo source="X_Label_EN">Ending date</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Date de fin</xsd:appinfo>




<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
        </xsd:all>
</xsd:complexType>
    <xsd:complexType name="CycleDeVieType">
<xsd:all>
<xsd:element maxOccurs="1" minOccurs="1" name="FkCycleDeVie" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">CycleDeVie/CycleDeVieId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">CycleDeVie/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>



<xsd:appinfo source="X_Label_FR">Détails</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="FkPays" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">Pays/PaysId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">Pays/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
<xsd:appinfo source="X_Label_EN">Country</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Pays</xsd:appinfo>



<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="DateDebut" type="xsd:date">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Starting date</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Date de début</xsd:appinfo>



<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="DateFin" type="xsd:date">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Ending date</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Date de fin</xsd:appinfo>



<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
        </xsd:all>
</xsd:complexType>
    <xsd:element name="Niveau">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Level</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Niveau</xsd:appinfo>


<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:all>
<xsd:element name="NiveauId" type="AUTO_INCREMENT">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">ID</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">ID</xsd:appinfo>


<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Code</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Code</xsd:appinfo>


<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="MULTI_LINGUAL">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Label</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Libelle</xsd:appinfo>


<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="Actif" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Active</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Actif</xsd:appinfo>


<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
<xsd:unique name="Niveau">
<xsd:selector xpath="."/>
<xsd:field xpath="NiveauId"/>
</xsd:unique>
</xsd:element>
    <xsd:complexType abstract="false" name="FlagActiviteType">
<xsd:all>
<xsd:element maxOccurs="1" minOccurs="0" name="DateDebut" type="xsd:dateTime">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Starting date</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Date de début</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="DateFin" type="xsd:dateTime">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Ending date</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Date de fin</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="Actif" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo source="X_Label_EN">Active</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Actif</xsd:appinfo>

<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
    <xsd:complexType name="TypeMatiereType">
<xsd:all>
<xsd:element maxOccurs="1" minOccurs="1" name="FkTypeMatiere" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">TypeMatiere/TypeMatiereId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">TypeMatiere/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Détails</xsd:appinfo>


<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" name="FkNiveau" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_ForeignKey">Niveau/NiveauId</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">true</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">Niveau/Libelle</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Niveau</xsd:appinfo>


<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
    <xsd:element name="Personne">
        
        <xsd:annotation>
<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
        <xsd:complexType>
<xsd:all>
<xsd:element name="PersonneId" type="AUTO_INCREMENT">
<xsd:annotation>
<xsd:appinfo source="X_Label_FR">ID Technique</xsd:appinfo>


<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="Code" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_Label_FR">ID Utilisateur</xsd:appinfo>


<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="Nom" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_Label_FR">Nom</xsd:appinfo>


<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="Prenom" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_Label_FR">Prénom</xsd:appinfo>


<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="E-Mail" type="xsd:string">
<xsd:annotation>

<xsd:appinfo source="X_Label_FR">E-Mail</xsd:appinfo>


<xsd:appinfo source="X_Write">Administrateur</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:all>
</xsd:complexType>
<xsd:unique name="Personne">
<xsd:selector xpath="."/>
<xsd:field xpath="PersonneId"/>
</xsd:unique>
</xsd:element>
</xsd:schema>
