org.talend.mdm.core/test/com/amalto/core/metadata/schema11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2006-2012 Talend Inc. - www.talend.com
  ~
  ~ This source code is available under agreement available at
  ~ %InstallDIR%\features\org.talend.rcp.branding.%PRODUCTNAME%\%PRODUCTNAME%license.txt
  ~
  ~ You should have received a copy of the agreement
  ~ along with this program; if not, write to Talend SA
  ~ 9 rue Pages 92150 Suresnes, France
  -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>
    <xsd:element name="Personne">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
            <xsd:appinfo source="X_PrimaryKeyInfo">Personne/PrenomUsuel</xsd:appinfo>
            <xsd:appinfo source="X_PrimaryKeyInfo">Personne/NomUsuel</xsd:appinfo>
            <xsd:appinfo source="X_Schematron">&lt;pattern name="DateEntreeGroupe" &gt; &lt;rule context="/"&gt;&lt;assert
                test="fn:yearFromDate(DateEntreeGroupe)&gt;fn:yearFromDate(DateNaissance)+15"&gt;&lt;![CDATA[[FR:La date
                d'entr閑 du groupe doit 阾re au moins de 15 ans sup閞ieure ?la date de naissance]]]&gt;&lt;/assert&gt;&lt;/rule&gt;
                &lt;/pattern&gt;</xsd:appinfo>
            <xsd:appinfo source="X_Schematron">&lt;pattern name="DateNaissance" &gt; &lt;rule context="/"&gt;&lt;assert
                test="number(translate(DateNaissance,&amp;quot;-&amp;quot;,&amp;quot;&amp;quot;))&gt;19300101"&gt;&lt;![CDATA[[FR:La
                date de naissance doit 阾re sup閞ieur au 1er janvier 1930]]]&gt;&lt;/assert&gt;&lt;/rule&gt; &lt;/pattern&gt;</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdMDM" type="AUTO_INCREMENT">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Hide">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Hide">System_Interactive</xsd:appinfo>
                        <xsd:appinfo source="X_Hide">System_View</xsd:appinfo>
                        <xsd:appinfo source="X_Hide">System_Web</xsd:appinfo>
                        <xsd:appinfo source="X_Hide">Admin_ASF</xsd:appinfo>
                        <xsd:appinfo source="X_Hide">Administrators</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="IdVINCI" type="IdVINCI">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">ID VINCI</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Photo" type="URL">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Photo</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="TypePersonneFk" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Type</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey">TypePersonne/IdTypePersonne</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKeyInfo">TypePersonne/Libelle</xsd:appinfo>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="StatutPersonneFk" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">StatutPersonne/IdStatutPersonne</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Statut</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>


                        <xsd:appinfo source="X_ForeignKeyInfo">StatutPersonne/Libelle</xsd:appinfo>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CiviliteFk" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">Civilite/IdCivilite</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKeyInfo">Civilite/Libelle</xsd:appinfo>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Civilit</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="NomUsuel" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Nom usuel</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="NomNaissance" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Nom de naissance</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="PrenomUsuel" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Pr閚om usuel</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="PrenomNaissance" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Pr閚om de naissance</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="DateNaissance" type="xsd:date">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Date de naissance</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Display_Format_FR">%1$td/%1$tm/%1$tY</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="DateEntreeGroupe" type="xsd:date">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Date d'entr閑 dans le groupe</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Display_Format_FR">%1$td/%1$tm/%1$tY</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Titre" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Contextes" type="ContexteListe">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
        <xsd:unique name="Personne">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdMDM"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="StatutPersonne">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
            <xsd:appinfo source="X_Label_FR">statut personne</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdStatutPersonne" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Hide">English_User</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="StatutPersonne">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdStatutPersonne"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="TypePersonne">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
            <xsd:appinfo source="X_Label_FR">Type personne</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdTypePersonne" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Libell</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="TypePersonne">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdTypePersonne"/>
        </xsd:unique>
    </xsd:element>
    <xsd:simpleType name="AUTO_INCREMENT">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:element name="Civilite">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
            <xsd:appinfo source="X_Label_FR">Civilit</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdCivilite" type="AUTO_INCREMENT"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Libell</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="Civilite">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdCivilite"/>
        </xsd:unique>
    </xsd:element>
    <xsd:simpleType name="URL">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="ContexteType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" name="IdContexte" type="UUID">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="SourceFk" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_ForeignKey">Source/IdSource</xsd:appinfo>
                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKeyInfo">Source/Libelle</xsd:appinfo>
                    <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                    <xsd:appinfo source="X_Label_FR">Source</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="TypeContexteFk" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKey">TypeContexte/IdTypeContexte</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKeyInfo">TypeContexte/Libelle</xsd:appinfo>
                    <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                    <xsd:appinfo source="X_Label_FR">Type</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="StatutContexteFk" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKey">StatutContexte/IdStatutContexte</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKeyInfo">StatutContexte/Libelle</xsd:appinfo>
                    <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                    <xsd:appinfo source="X_Label_FR">Statut</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="1" name="DateDebutContexte" type="xsd:date">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    <xsd:appinfo source="X_Label_FR">Date de d閎ut</xsd:appinfo>

                    <xsd:appinfo source="X_Display_Format_FR">%1$td/%1$tm/%1$tY</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="DateFinContexte" type="xsd:date">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    <xsd:appinfo source="X_Label_FR">Date de fin</xsd:appinfo>

                    <xsd:appinfo source="X_Display_Format_FR">%1$td/%1$tm/%1$tY</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrganisationFk" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKey">Organisation/IdOrganisation</xsd:appinfo>
                    <xsd:appinfo source="X_Label_FR">Organisation</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKeyInfo">Organisation/Nom</xsd:appinfo>
                    <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="SocieteFk" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKey">Societe/IdSociete</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKeyInfo">Societe/Nom</xsd:appinfo>
                    <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                    <xsd:appinfo source="X_Label_FR">Soci閠e</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Fonction" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Service" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="SocieteExterneFk" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKey">SocieteExterne/IdSocieteExterne</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKeyInfo">SocieteExterne/Libelle</xsd:appinfo>
                    <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                    <xsd:appinfo source="X_Label_FR">Soci閠?Externe</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Contacts" type="ContactListe">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="ContexteListe">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Contexte" type="ContexteType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ContactListe">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Contact" type="ContactType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ContactType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="StatutContactFk" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                    <xsd:appinfo source="X_Label_FR">Statut</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKey">StatutContact/IdStatutContact</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKeyInfo">StatutContact/Libelle</xsd:appinfo>
                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="SpecialisationContactType" type="SpecialisationContactType">
                <xsd:annotation>
                    <xsd:appinfo source="X_Label_FR">Type de contact</xsd:appinfo>
                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType abstract="true" name="SpecialisationContactType">
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="SpecialisationContactEmail">
        <xsd:complexContent>
            <xsd:extension base="SpecialisationContactType">
                <xsd:all>
                    <xsd:element maxOccurs="1" minOccurs="1" name="NatureEmail" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                            <xsd:appinfo source="X_Label_FR">Nature de l'email</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKey">NatureEmail/IdNatureEmail</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Email" type="EmailType">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                            <xsd:appinfo source="X_Facet_FR">[FR:L'email est invalide]</xsd:appinfo>
                            <xsd:appinfo source="X_Facet_EN">Email invalide</xsd:appinfo>
                            <xsd:appinfo source="X_Label_FR">Adresse email</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:all>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="SpecialisationContactTelephone">
        <xsd:complexContent>
            <xsd:extension base="SpecialisationContactType">
                <xsd:all>
                    <xsd:element maxOccurs="1" minOccurs="1" name="NatureTelephone" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Label_FR">Nature du num閞o</xsd:appinfo>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKey">NatureTelephone/IdNatureTelephone</xsd:appinfo>
                            <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Numero" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Label_FR">Num閞o de t閘閜hone</xsd:appinfo>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:all>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="StatutContexte">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
            <xsd:appinfo source="X_Label_FR">Statut contexte</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdStatutContexte" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Libelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Libell</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="StatutContexte">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdStatutContexte"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="TypeContexte">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
            <xsd:appinfo source="X_Label_FR">Type de contexte</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdTypeContexte" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Libelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="TypeContexte">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdTypeContexte"/>
        </xsd:unique>
    </xsd:element>
    <xsd:simpleType name="EnumNatureTelephone">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Principal"/>
            <xsd:enumeration value="Mobile"/>
            <xsd:enumeration value="Assistante"/>
            <xsd:enumeration value="Standard"/>
            <xsd:enumeration value="Fax"/>
            <xsd:enumeration value="Chantier"/>
            <xsd:enumeration value="Autre"/>
            <xsd:enumeration value="Mobile personnel"/>
            <xsd:enumeration value="Domicile"/>
            <xsd:enumeration value="Secondaire"/>
            <xsd:enumeration value="Fax secondaire"/>
            <xsd:enumeration value="Assistante secondaire"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="EnumNatureEmail">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Personnel"/>
            <xsd:enumeration value="Assistante"/>
            <xsd:enumeration value="Prive"/>
            <xsd:enumeration value="Partage"/>
            <xsd:enumeration value="Autre"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="StatutContact">
        <xsd:annotation>
            <xsd:appinfo source="X_Label_FR">Statut contact</xsd:appinfo>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdStatutContact" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Libelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Libell</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="StatutContact">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdStatutContact"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="Source">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdSource" type="AUTO_INCREMENT"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Libell</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Maitre" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Ma顃re</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Actif" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="TypeSource" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey">TypeSource/IdTypeSource</xsd:appinfo>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Type de source</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="EntiteSI" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey">EntiteSI/IdEntiteSI</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKeyInfo">EntiteSI/Nom</xsd:appinfo>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Entit?SI</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="Source">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdSource"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="Societe">
        <xsd:annotation>
            <xsd:appinfo source="X_Label_FR">Societe</xsd:appinfo>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdSociete" type="AUTO_INCREMENT"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Nom" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CodeOSMOSE" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="SIRET" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="SIREN" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="FormeJuridiqueFk" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">FormeJuridiqueSociete/IdFormeJuridiqueSociete</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKeyInfo">FormeJuridiqueSociete/Libelle</xsd:appinfo>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Logo" type="URL">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="DateEntreeGroupe" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Date d'entre groupe</xsd:appinfo>

                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Display_Format_FR">%1$td/%1$tm/%1$tY</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="DateSortieGroupe" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Date sortie groupe</xsd:appinfo>

                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Display_Format_FR">%1$td/%1$tm/%1$tY</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="StatutFk" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">StatutSociete/IdStatutSociete</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKeyInfo">StatutSociete/Libelle</xsd:appinfo>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Statut</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="TVAIntracom" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">TVA Intracomm.</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Consolidee" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Consolid</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Archivee" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Archive</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="AppartenanceGroupe" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Appartenance au groupe</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Effectif" type="xsd:integer">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Contacts" type="ContactListe">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
        <xsd:unique name="Societe">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdSociete"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="StatutSociete">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
            <xsd:appinfo source="X_Label_FR">Statut Societe</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdStatutSociete" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="StatutSociete">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdStatutSociete"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="XrefPersonne">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdXref" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdContexte" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="IdPageBlanche" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="IdRH" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="IdSourceSI" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="XrefPersonne">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdXref"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="ElementOrganisationPj">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
            <xsd:appinfo source="X_PrimaryKeyInfo">ElementOrganisationPj/Nom</xsd:appinfo>
            <xsd:appinfo source="X_Label_FR">Element d'organisation PJ</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdElementOrganisation" type="AUTO_INCREMENT"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Nom" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Libelle</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="NiveauFk" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey">NiveauOrganisation/IdNiveauOrganisation</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKeyInfo">NiveauOrganisation/Nom</xsd:appinfo>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Niveau</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="TypeElementOrganisation"
                             type="ElementOrganisationTypePj">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Type d'organisation</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="ElementOrganisationPj">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdElementOrganisation"/>
        </xsd:unique>
    </xsd:element>
    <xsd:complexType name="EnfantListe">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Enfant" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_ForeignKey">ElementOrganisationPj/IdElementOrganisation</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKeyInfo">ElementOrganisationPj/Nom</xsd:appinfo>
                    <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                    <xsd:appinfo source="X_Label_FR">El閙ent d'organisation</xsd:appinfo>
                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NiveauOrganisationPj">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
            <xsd:appinfo source="X_Label_FR">Niveau d'organisation PJ</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdNiveauOrganisation" type="AUTO_INCREMENT"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Nom" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Valeur" type="xsd:integer">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="NiveauOrganisationPj">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdNiveauOrganisation"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="Organisation">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdOrganisation" type="AUTO_INCREMENT"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Nom" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="StatutOrganisationFk" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">StatutOrganisation/IdStatutOrganisation</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKeyInfo">StatutOrganisation/Libelle</xsd:appinfo>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Statut d'organisation</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="TypeOrganisationFk" type="ElementOrganisationTypePj">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Type d'organisation PJ</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="NiveauOrganisationFk" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey">NiveauOrganisation/IdNiveauOrganisation</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKeyInfo">NiveauOrganisation/nom</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKeyInfo">NiveauOrganisation/Valeur</xsd:appinfo>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Niveau d'organisation</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="PereOrgranisationFk" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">Organisation/IdOrganisation</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKeyInfo">Organisation/IdOrganisation</xsd:appinfo>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Organisation parente</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Contacts" type="ContactListe">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
        <xsd:unique name="Organisation">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdOrganisation"/>
        </xsd:unique>
    </xsd:element>
    <xsd:complexType abstract="true" name="ElementOrganisationTypePj">
        <xsd:all/>
    </xsd:complexType>
    <xsd:complexType name="ElementOrganisationFinal">
        <xsd:complexContent>
            <xsd:extension base="ElementOrganisationTypePj">
                <xsd:all>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Organisations" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_ForeignKey">Organisation/IdOrganisation</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKeyInfo">Organisation/IdOrganisation</xsd:appinfo>
                            <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:all>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ElementOrganisationRegroupement">
        <xsd:complexContent>
            <xsd:extension base="ElementOrganisationTypePj">
                <xsd:all>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Enfants" type="EnfantListe">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:all>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="Pays">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdPays" type="AUTO_INCREMENT">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Libelle</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="Pays">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdPays"/>
        </xsd:unique>
    </xsd:element>
    <xsd:complexType name="OrganisationListe">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrganisationFk" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_ForeignKey">Organisation/IdOrganisation</xsd:appinfo>
                    <xsd:appinfo source="X_Label_FR">Organisation</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKeyInfo">Organisation/RaisonSociale</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKeyInfo">Organisation/Nom</xsd:appinfo>
                    <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SpecialisationContactNatureLocalisation">
        <xsd:complexContent>
            <xsd:extension base="SpecialisationContactType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="NatureLocalisation" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Label_FR">Nature Localisation</xsd:appinfo>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKey">NatureLocalisation/IdNatureLocalisation</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKeyInfo">NatureLocalisation/Libelle</xsd:appinfo>
                            <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AdressePostale" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKey">Adresse/IdAdresse</xsd:appinfo>
                            <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKey_Filter">
                                Adresse/AdresseSpecialisation/@xsi:type$$=$$AdressePostale$$#
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AdresseGeocodee" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                            <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKey">Adresse/IdAdresse</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKey_Filter">
                                Adresse/AdresseSpecialisation/@xsi:type$$=$$AdresseGeocodee$$#
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="ElementArborescence">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
            <xsd:appinfo source="X_Label_FR">Element d'arborescence</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdElementArborescence" type="AUTO_INCREMENT"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Libelle</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="NiveauArborescenceFk" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey">NiveauArborescence/IdNiveauArborescence</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKeyInfo">NiveauArborescence/Libelle</xsd:appinfo>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Niveau d'arborescence</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="TypeElementArborescence" type="ElementArborescenceType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Type d'element d'arborescence</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="ElementArborescence">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdElementArborescence"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="FormeJuridiqueSociete">
        <xsd:annotation>
            <xsd:appinfo source="X_Label_FR">Forme juridique de la societe</xsd:appinfo>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdFormeJuridiqueSociete" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Libelle</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="FormeJuridiqueSociete">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdFormeJuridiqueSociete"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="NiveauArborescence">
        <xsd:annotation>
            <xsd:appinfo source="X_Label_FR">Niveau d'arborescence</xsd:appinfo>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdNiveauArborescence" type="AUTO_INCREMENT"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Libelle</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="TypeArborescence" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Type d'arborescence</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKey">TypeArborescence/IdTypeArborescence</xsd:appinfo>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Valeur" type="xsd:integer">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="NiveauArborescence">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdNiveauArborescence"/>
        </xsd:unique>
    </xsd:element>
    <xsd:complexType abstract="true" name="ElementArborescenceType">
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="ElementArborescenceFinal">
        <xsd:complexContent>
            <xsd:extension base="ElementArborescenceType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Societes" type="SocieteListe">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Label_FR">Societe</xsd:appinfo>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="SocieteListe">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Societe" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_ForeignKey">Societe/IdSociete</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKeyInfo">Societe/Nom</xsd:appinfo>
                    <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                    <xsd:appinfo source="X_Label_FR">Societe</xsd:appinfo>
                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EnfantAborescenceListe">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Enfants" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo source="X_ForeignKey">ElementArborescence/IdElementArborescence</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKeyInfo">ElementArborescence/NiveauArborescence</xsd:appinfo>
                    <xsd:appinfo source="X_ForeignKeyInfo">ElementArborescence/Libelle</xsd:appinfo>
                    <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                    <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="ArborescenceType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Consolidation"/>
            <xsd:enumeration value="Juridique"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ElementArborescenceRegroupement">
        <xsd:complexContent>
            <xsd:extension base="ElementArborescenceType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Enfants" type="EnfantAborescenceListe">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="SocieteExterne">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdSocieteExterne" type="AUTO_INCREMENT"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Libelle</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="SocieteExterne">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdSocieteExterne"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="StatutOrganisation">
        <xsd:annotation>
            <xsd:appinfo source="X_Label_FR">Statut organisation</xsd:appinfo>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdStatutOrganisation" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Libelle</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="StatutOrganisation">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdStatutOrganisation"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="TypeSource">
        <xsd:annotation>
            <xsd:appinfo source="X_Label_FR">Type Source</xsd:appinfo>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdTypeSource" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Libelle</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="TypeSource">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdTypeSource"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="EntiteSI">
        <xsd:annotation>
            <xsd:appinfo source="X_Label_FR">Entit?SI</xsd:appinfo>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdEntiteSI" type="AUTO_INCREMENT"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Nom" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="EntiteSI">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdEntiteSI"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="PerimetreSI">
        <xsd:annotation>
            <xsd:appinfo source="X_Label_FR">Primere SI</xsd:appinfo>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdPerimetreSI" type="AUTO_INCREMENT">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="DateDebut" type="xsd:date">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Date de d閎ut</xsd:appinfo>

                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Display_Format_FR">%1$td/%1$tm/%1$tY</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="DateFin" type="xsd:date">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Date de fin</xsd:appinfo>

                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        <xsd:appinfo source="X_Display_Format_FR">%1$td/%1$tm/%1$tY</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="EntiteFk" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">EntiteSI/IdEntiteSI</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKeyInfo">EntiteSI/Nom</xsd:appinfo>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Entit?SI</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="SocieteFk" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_ForeignKey">Societe/IdSociete</xsd:appinfo>
                        <xsd:appinfo source="X_ForeignKeyInfo">Societe/Nom</xsd:appinfo>
                        <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                        <xsd:appinfo source="X_Label_FR">Societe</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="PerimetreSI">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdPerimetreSI"/>
        </xsd:unique>
    </xsd:element>
    <xsd:simpleType name="EnumNatureLocalisation">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Bureau"/>
            <xsd:enumeration value="Chantier"/>
            <xsd:enumeration value="Secondaire"/>
            <xsd:enumeration value="Si鑗e"/>
            <xsd:enumeration value="Domicile"/>
            <xsd:enumeration value="Autre"/>
            <xsd:enumeration value="Atelier"/>
            <xsd:enumeration value="Etablissement secondaire"/>
            <xsd:enumeration value="Stock"/>
            <xsd:enumeration value="Parc v閔icule"/>
            <xsd:enumeration value="Carri鑢e"/>
            <xsd:enumeration value="Agence"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="NiveauOrganisation">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
            <xsd:appinfo source="X_Label_FR">Niveau d'organisation</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdNiveauOrganisation" type="AUTO_INCREMENT"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Nom" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Valeur" type="xsd:integer">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="NiveauOrganisation">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdNiveauOrganisation"/>
        </xsd:unique>
    </xsd:element>
    <xsd:simpleType name="UUID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:element name="Adresse">
        <xsd:annotation>
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdAdresse" type="UUID"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="AdresseSpecialisation" type="AdresseType">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="Adresse">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdAdresse"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="NatureEmail">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdNatureEmail" type="AUTO_INCREMENT"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Libelle</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="NatureEmail">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdNatureEmail"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="NatureLocalisation">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdNatureLocalisation" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Libelle</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="NatureLocalisation">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdNatureLocalisation"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="NatureTelephone">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdNatureTelephone" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Libelle</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="NatureTelephone">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdNatureTelephone"/>
        </xsd:unique>
    </xsd:element>
    <xsd:element name="TypeArborescence">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="IdTypeArborescence" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Libelle" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="X_Label_FR">Libelle</xsd:appinfo>
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
        <xsd:unique name="TypeArborescence">
            <xsd:selector xpath="."/>
            <xsd:field xpath="IdTypeArborescence"/>
        </xsd:unique>
    </xsd:element>
    <xsd:simpleType name="EmailType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern
                    value="^[_A-Za-z0-9-]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9]+(-[A-Za-z0-9]+)*(\.[A-Za-z0-9]+)*(-[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="AdresseType">
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="AdresseGeocodee">
        <xsd:complexContent>
            <xsd:extension base="AdresseType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="AdresseNormalisee" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="NumeroCourt" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="NumeroLong" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="VoieCourt" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="VoieLong" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="LocaliteCourt" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="LocaliteLong" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SousLocaliteCourt" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SousLocaliteLong" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Niveau1Court" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Niveau2Court" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Niveau3Court" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Niveau1Long" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Niveau2Long" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Niveau3Long" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PaysCourt" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PaysLong" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CodePostalCourt" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CodePostalLong" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ResultatPartiel" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Longitude" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Label_FR">Longitude</xsd:appinfo>

                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Latitude" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Label_FR">Latitude</xsd:appinfo>

                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="AdressePostale">
        <xsd:complexContent>
            <xsd:extension base="AdresseType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Adresse1" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Label_FR">Adresse 1</xsd:appinfo>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Adresse2" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Label_FR">Adresse 2</xsd:appinfo>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Adresse3" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Label_FR">Adresse 3</xsd:appinfo>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CodePostal" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Label_FR">Code postal</xsd:appinfo>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Ville" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Label_FR">Ville</xsd:appinfo>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Region" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Label_FR">R間ion</xsd:appinfo>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Pays" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
                            <xsd:appinfo source="X_Label_FR">Pays</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKey">Pays/IdPays</xsd:appinfo>
                            <xsd:appinfo source="X_ForeignKeyInfo">Pays/Libelle</xsd:appinfo>
                            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="IdVINCI">
        <xsd:restriction base="xsd:string">
            <xsd:length value="7"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
