org.talend.mdm.webapp.base/src/test/resources/org/talend/mdm/webapp/base/server/person.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">  
  <xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>  
  <xsd:element name="ProductEntity"> 
    <xsd:annotation> 
      <xsd:appinfo source="X_Label_EN">Product</xsd:appinfo>  
      <xsd:appinfo source="X_Label_FR">Produit</xsd:appinfo>  
      <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
      <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>  
      <xsd:appinfo source="X_Lookup_Field">ProductEntity/Name</xsd:appinfo> 
    </xsd:annotation>  
    <xsd:complexType> 
      <xsd:all maxOccurs="1" minOccurs="1"> 
        <xsd:element maxOccurs="1" minOccurs="0" name="Picture" type="PICTURE"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_Label_EN">Picture</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">Image</xsd:appinfo>  
            <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo> 
          </xsd:annotation> 
        </xsd:element>  
        <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="xsd:string"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_Label_EN">Unique Id</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">Id unique</xsd:appinfo>  
            <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo> 
          </xsd:annotation> 
        </xsd:element>  
        <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="xsd:string"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_Label_EN">Name</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">Nom</xsd:appinfo>  
            <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo> 
          </xsd:annotation> 
        </xsd:element>  
        <xsd:element maxOccurs="1" minOccurs="1" name="Description" type="xsd:string"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_Label_EN">Description</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">Description</xsd:appinfo>  
            <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo> 
          </xsd:annotation> 
        </xsd:element>  
        <xsd:element maxOccurs="1" minOccurs="0" name="Features"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_Label_EN">Features</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">Caract?ristiques</xsd:appinfo>  
            <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo> 
          </xsd:annotation>  
          <xsd:complexType> 
            <xsd:all> 
              <xsd:element maxOccurs="1" minOccurs="0" name="Sizes"> 
                <xsd:annotation> 
                  <xsd:appinfo source="X_Label_EN">Sizes</xsd:appinfo>  
                  <xsd:appinfo source="X_Label_FR">Tailles</xsd:appinfo>  
                  <xsd:appinfo source="X_Description_EN">A product may be available in more than one size.</xsd:appinfo>  
                  <xsd:appinfo source="X_Description_FR">Un produit peut ?tre disponible dans plusieurs tailles.</xsd:appinfo>  
                  <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
                  <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo> 
                </xsd:annotation>  
                <xsd:complexType> 
                  <xsd:sequence> 
                    <xsd:element maxOccurs="unbounded" name="Size" type="Size"> 
                      <xsd:annotation> 
                        <xsd:appinfo source="X_Label_EN">Size</xsd:appinfo>  
                        <xsd:appinfo source="X_Label_FR">Taille</xsd:appinfo>  
                        <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo> 
                      </xsd:annotation> 
                    </xsd:element> 
                  </xsd:sequence> 
                </xsd:complexType> 
              </xsd:element>  
              <xsd:element maxOccurs="1" minOccurs="0" name="Colors"> 
                <xsd:annotation> 
                  <xsd:appinfo source="X_Label_EN">Colors</xsd:appinfo>  
                  <xsd:appinfo source="X_Label_FR">Couleurs</xsd:appinfo>  
                  <xsd:appinfo source="X_Description_EN">A product can be available in more than one color.</xsd:appinfo>  
                  <xsd:appinfo source="X_Description_FR">Un produit peut ?tre disponible dans plusieurs couleurs.</xsd:appinfo>  
                  <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
                  <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo> 
                </xsd:annotation>  
                <xsd:complexType> 
                  <xsd:sequence> 
                    <xsd:element maxOccurs="unbounded" name="Color" type="Color"> 
                      <xsd:annotation> 
                        <xsd:appinfo source="X_Label_EN">Color</xsd:appinfo>  
                        <xsd:appinfo source="X_Label_FR">Couleur</xsd:appinfo>  
                        <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo> 
                      </xsd:annotation> 
                    </xsd:element> 
                  </xsd:sequence> 
                </xsd:complexType> 
              </xsd:element> 
            </xsd:all> 
          </xsd:complexType> 
        </xsd:element>  
        <xsd:element maxOccurs="1" minOccurs="0" name="Availability" type="xsd:boolean"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_Label_EN">Availability</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">Disponibilit?</xsd:appinfo>  
            <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>  
            <xsd:appinfo source="X_Default_Value_Rule">fn:true()</xsd:appinfo> 
          </xsd:annotation> 
        </xsd:element>  
        <xsd:element maxOccurs="1" minOccurs="1" name="Price" type="xsd:decimal"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_Label_EN">Price</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">Prix</xsd:appinfo>  
            <xsd:appinfo source="X_Description_EN">Run a price request to change this price</xsd:appinfo>  
            <xsd:appinfo source="X_Description_FR">Faites une demande de changement de prix pour modifier</xsd:appinfo>  
            <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo> 
          </xsd:annotation> 
        </xsd:element>    
        <xsd:element maxOccurs="1" minOccurs="0" name="OnlineStore" type="URL"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo> 
          </xsd:annotation> 
        </xsd:element>  
        <xsd:element maxOccurs="1" minOccurs="0" name="supplier" type="xsd:string"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_ForeignKey">Party/code</xsd:appinfo>  
            <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>  
            <xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>  
            <xsd:appinfo source="X_ForeignKeyInfo">Party/name</xsd:appinfo>  
            <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo> 
          </xsd:annotation> 
        </xsd:element> 
                <xsd:element maxOccurs="1" minOccurs="0" name="Family" type="xsd:string">
<xsd:annotation>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey">Family/subelement</xsd:appinfo>
<xsd:appinfo source="X_ForeignKey_NotSep">false</xsd:appinfo>
<xsd:appinfo source="X_ForeignKeyInfo">Family/name</xsd:appinfo>
<xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>
</xsd:annotation>
</xsd:element>
            </xsd:all> 
    </xsd:complexType>  
    <xsd:unique name="ProductEntity"> 
      <xsd:selector xpath="."/>  
      <xsd:field xpath="Id"/> 
    </xsd:unique> 
  </xsd:element>  
  <xsd:simpleType name="Size"> 
    <xsd:restriction base="xsd:string"> 
      <xsd:enumeration value="Small"/>  
      <xsd:enumeration value="Medium"/>  
      <xsd:enumeration value="Large"/>  
      <xsd:enumeration value="X-Large"/> 
    </xsd:restriction> 
  </xsd:simpleType>  
  <xsd:simpleType name="Color"> 
    <xsd:restriction base="xsd:string"> 
      <xsd:enumeration value="White"/>  
      <xsd:enumeration value="Light Blue"/>  
      <xsd:enumeration value="Light Pink"/>  
      <xsd:enumeration value="Lemon"/>  
      <xsd:enumeration value="Khaki"/> 
    </xsd:restriction> 
  </xsd:simpleType>  
  <xsd:simpleType name="PICTURE"> 
    <xsd:restriction base="xsd:string"/> 
  </xsd:simpleType>    
  <xsd:simpleType name="AUTO_INCREMENT"> 
    <xsd:restriction base="xsd:string"/> 
  </xsd:simpleType>  
  <xsd:simpleType name="URL"> 
    <xsd:restriction base="xsd:string"/> 
  </xsd:simpleType>  
  <xsd:simpleType name="UUID"> 
    <xsd:restriction base="xsd:string"/> 
  </xsd:simpleType>  
  <xsd:simpleType name="Status"> 
    <xsd:restriction base="xsd:string"> 
      <xsd:enumeration value="Pending"/>  
      <xsd:enumeration value="Rejected"/>  
      <xsd:enumeration value="Approved"/> 
    </xsd:restriction> 
  </xsd:simpleType>  
  <xsd:complexType name="PartyType"> 
    <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string"> 
        <xsd:annotation> 
          <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
          <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo> 
        </xsd:annotation> 
      </xsd:element>  
      <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"> 
        <xsd:annotation> 
          <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo> 
        </xsd:annotation> 
      </xsd:element> 
    </xsd:sequence> 
  </xsd:complexType>  
  <xsd:complexType name="IndividualType"> 
    <xsd:complexContent> 
      <xsd:extension base="PartyType"> 
        <xsd:sequence> 
          <xsd:element maxOccurs="1" minOccurs="1" name="firstName" type="xsd:string"> 
            <xsd:annotation> 
              <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
              <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo> 
            </xsd:annotation> 
          </xsd:element>  
          <xsd:element maxOccurs="1" minOccurs="1" name="lastName" type="xsd:string"> 
            <xsd:annotation> 
              <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
              <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo> 
            </xsd:annotation> 
          </xsd:element> 
        </xsd:sequence> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="CompanyType"> 
    <xsd:complexContent> 
      <xsd:extension base="PartyType"> 
        <xsd:sequence> 
          <xsd:element maxOccurs="1" minOccurs="1" name="legalname" type="xsd:string"> 
            <xsd:annotation> 
              <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
              <xsd:appinfo source="X_Label_EN">Legal Name</xsd:appinfo>  
              <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo> 
            </xsd:annotation> 
          </xsd:element> 
        </xsd:sequence> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:element name="Company" type="CompanyType"> 
    <xsd:annotation> 
      <xsd:appinfo source="X_PrimaryKeyInfo">Company/name</xsd:appinfo>  
      <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
      <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>  
      <xsd:appinfo source="X_Label_EN">Corporation</xsd:appinfo> 
    </xsd:annotation>  
    <xsd:unique name="Company"> 
      <xsd:selector xpath="."/>  
      <xsd:field xpath="code"/> 
    </xsd:unique> 
  </xsd:element>  
  <xsd:element name="Individual" type="IndividualType"> 
    <xsd:annotation> 
      <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
      <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo> 
    </xsd:annotation>  
    <xsd:unique name="Individual"> 
      <xsd:selector xpath="."/>  
      <xsd:field xpath="code"/> 
    </xsd:unique> 
  </xsd:element>  
  <xsd:element name="Party" type="PartyType"> 
    <xsd:annotation> 
      <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
      <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo> 
    </xsd:annotation>  
    <xsd:unique name="Party"> 
      <xsd:selector xpath="."/>  
      <xsd:field xpath="code"/> 
    </xsd:unique> 
  </xsd:element>  
  <xsd:complexType name="AddressType"> 
    <xsd:sequence maxOccurs="1" minOccurs="1"> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Line1" type="xsd:string"> 
        <xsd:annotation> 
          <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
          <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo> 
        </xsd:annotation> 
      </xsd:element>  
      <xsd:element maxOccurs="1" minOccurs="0" name="Line2" type="xsd:string"> 
        <xsd:annotation> 
          <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
          <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo> 
        </xsd:annotation> 
      </xsd:element>  
      <xsd:element maxOccurs="1" minOccurs="1" name="City" type="xsd:string"> 
        <xsd:annotation> 
          <xsd:appinfo source="X_Create">Demo_User</xsd:appinfo>  
          <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo> 
        </xsd:annotation> 
      </xsd:element> 
    </xsd:sequence> 
  </xsd:complexType>  
  <xsd:complexType name="EUAddressType"> 
    <xsd:complexContent> 
      <xsd:extension base="AddressType"> 
        <xsd:sequence maxOccurs="1" minOccurs="1"> 
          <xsd:element maxOccurs="1" minOccurs="1" name="PostalCode" type="xsd:string"/>  
          <xsd:element maxOccurs="1" minOccurs="1" name="Country" type="xsd:string"/> 
        </xsd:sequence> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="USAddressType"> 
    <xsd:complexContent> 
      <xsd:extension base="AddressType"> 
        <xsd:sequence maxOccurs="1" minOccurs="1"> 
          <xsd:element maxOccurs="1" minOccurs="1" name="ZipCode" type="xsd:string"/>  
          <xsd:element maxOccurs="1" minOccurs="1" name="State" type="xsd:string"/> 
        </xsd:sequence> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
    <xsd:element name="Family">
<xsd:complexType>
<xsd:all>
<xsd:element name="subelement" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/>
</xsd:all>
</xsd:complexType>
<xsd:unique name="Family">
<xsd:selector xpath="."/>
<xsd:field xpath="subelement"/>
</xsd:unique>
</xsd:element>
</xsd:schema>
